.custom-spacer-wrapper {
    .mobile-only {
        display: none;
    }

    .custom-spacer {
        clear: both;
    }

    @media screen and (max-width: 700px) {
        .mobile-only {
            display: block;
        }
        .desktop-only {
            display: none;
        }
    }
}
