.logo-carousel-wrapper {
    max-width: 85vw !important;
    margin: auto;

    .user-logos:hover {
        opacity: 0.7;
    }
}

@media screen and (max-width: 1080px) {
    .logo-carousel-wrapper {
        max-width: 100vw !important;
    }

    .InfiniteCarouselArrowIcon {
        padding: 5px !important;
    }
}
