.toggle-wrapper {
    display: inline-block;
    text-align: center;
}

.dark {
    .toggle-switch {
        &-inner:before {
            background: #bfbfbc;
        }
    }
}

.toggle-switch {
    position: relative;
    width: 60px;
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    text-align: left;
    &-checkbox {
        display: none;
    }
    &-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 0 solid #bbb;
        border-radius: 20px;
        margin: 0;
    }
    &-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
        &:before,
        &:after {
            display: block;
            float: left;
            width: 50%;
            height: 25px;
            padding: 0;
            line-height: 25px;
            font-size: 14px;
            color: white;
            font-variation-settings: 'wght' 800;
            box-sizing: border-box;
        }
        &:before {
            content: '🌙';
            text-transform: uppercase;
            padding-left: 10px;
            background-color: #bfbfbc;
            color: #fff;
        }
        .toggle-switch {
            position: relative;
            width: 60px;
            display: inline-block;
            vertical-align: middle;
            user-select: none;
            text-align: left;
            &-checkbox {
                display: none;
            }
            &-label {
                display: block;
                overflow: hidden;
                cursor: pointer;
                border: 0 solid #bbb;
                border-radius: 20px;
                margin: 0;
            }
            &-inner {
                display: block;
                width: 200%;
                margin-left: -100%;
                transition: margin 0.3s ease-in 0s;
                &:before,
                &:after {
                    display: block;
                    float: left;
                    width: 50%;
                    height: 25px;
                    padding: 0;
                    line-height: 25px;
                    font-size: 14px;
                    color: white;
                    font-variation-settings: 'wght' 800;
                    box-sizing: border-box;
                }
                &:before {
                    content: '🌙';
                    text-transform: uppercase;
                    padding-left: 10px;
                    background-color: #200133;
                    color: #fff;
                }
            }
            &-disabled {
                background-color: #ddd;
                cursor: not-allowed;
                &:before {
                    background-color: #ddd;
                    cursor: not-allowed;
                }
            }
            &-inner:after {
                content: '☀️';
                text-transform: uppercase;
                padding-right: 10px;
                background-color: #222d5b;
                color: #fff;
                text-align: right;
            }
            &-switch {
                display: block;
                width: 24px;
                margin: 5px;
                background: #fff;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 40px;
                border: 0 solid #bbb;
                border-radius: 20px;
                transition: all 0.3s ease-in 0s;
            }
            &-checkbox:checked + &-label {
                .toggle-switch-inner {
                    margin-left: 0;
                }
                .toggle-switch-switch {
                    right: 0px;
                }
            }
        }
    }
    &-disabled {
        background-color: #ddd;
        cursor: not-allowed;
        &:before {
            background-color: #ddd;
            cursor: not-allowed;
        }
    }
    &-inner:after {
        content: '☀️';
        text-transform: uppercase;
        padding-right: 10px;
        background-color: white;
        color: #fff;
        text-align: right;
    }
    &-switch {
        display: block;
        width: 16px;
        height: 16px;
        margin: 5px;
        background: #0e0e0e;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 33px;
        border: 0 solid #bbb;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }
    &-checkbox:checked + &-label {
        .toggle-switch-inner {
            margin-left: 0;
        }
        .toggle-switch-switch {
            right: 0px;
        }
    }
}
