$borderRadius: 25px; // also width of toggle switch
$trackHeight: 8px;

.toggle-switch-label {
    height: $trackHeight;
}

.toggle-switch {
    display: inline-block;
    position: relative;
    text-align: left;
    user-select: none;
    width: $borderRadius;
    &-checkbox {
        display: none;
    }
    &-label {
        border-radius: $borderRadius;
        cursor: pointer;
        display: block;
        overflow: hidden;
    }
    &-switch {
        border-radius: $borderRadius;
        display: block;
        height: 16px;
        position: absolute;
        right: 15px;
        top: -50%;
        transition: all 0.3s ease-out 0s;
        width: 16px;
    }
    &-checkbox:checked + &-label {
        .toggle-switch-inner {
            margin-left: 0;
        }
        .toggle-switch-switch {
            right: -5px;
        }
    }
}
