.start-now-btn-wrapper {
    .startNowWrapper {
        position: relative;
        width: 100vw;
        max-width: 1440px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 260px;
        margin-bottom: 40px;
    }

    .startNowRow {
        position: relative;
        width: 402px;
        max-width: 1440px;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        align-items: flex-end;
        height: 130px;
        padding-left: 0;
        left: calc(36 / 1440 * 100vw);
    }

    .startNowButton {
        position: relative;
        align-self: center;
        width: 330px;
        height: 64px;
        font-size: 24px;
        background-color: #1d4aff;
        border-color: #1d4aff;
        color: #ffffff;
    }

    .startNowButton:hover {
        background-color: #fff;
        color: #1d4aff;
        border-color: #1d4aff;
    }

    .startNowRow img {
        align-self: flex-start;
    }

    @media screen and (max-width: 834px) {
        .startNowWrapper {
            height: 100px;
        }
        .startNowRow {
            left: calc((20 / 834) * 100vw);
            height: 72px;
            width: 220px;
        }
        .startNowRow img {
            width: 40px;
            height: 40px;
        }
        .startNowButton {
            width: 180px;
            height: 32px;
            font-size: 14px;
        }
    }
}
