.featured-section-right-wrapper {
    .fs-wrapper {
        height: 500px;
        width: 100vw;
        position: relative;
    }

    .row {
        height: 450px;
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 65px;
    }

    .list-item {
        position: absolute;
        left: calc(13 / 24 * 100vw);
        width: calc(1 / 12 * 100vw);
    }

    .col {
        position: absolute;
        width: calc(1 / 4 * 100vw);
        left: calc(15 / 24 * 100vw);
    }

    .section-banner-image {
        left: calc((100vw - 1440px) / 2 + (1 / 24 * 100vw));
        position: absolute;
        background-repeat: no-repeat;
        background-position: left top;
    }

    @media screen and (min-width: 1440px) {
        .section-banner-image {
            left: calc(1 / 24 * 1440px);
        }
        .list-item {
            left: calc(13 / 24 * 1440px);
            width: calc(1 / 12 * 1440px);
        }
        .col {
            left: calc(15 / 24 * 1440px);
            width: calc(1 / 4 * 1440px);
        }
    }

    @media screen and (max-width: 834px) {
        .fs-wrapper {
            height: auto;
        }
        .row {
            flex-direction: column;
            align-items: center;
            margin: 0 15vw;
            height: auto;
        }
        .section-banner-image {
            position: relative;
            background-position: center top;
            background-size: 426px 283px !important;
            height: 283px !important;
            width: 426px !important;
            left: 0;
            top: 0;
            max-width: 100vw;
        }

        .list-item {
            position: relative;
            left: 0;
            text-align: center;
            width: 70vw;
        }
        .col {
            position: relative;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 282px;
            height: auto;
        }
        .number h1 {
            font-size: 40px;
            line-height: 40px;
        }
        .revHiddenBreak {
            display: none;
        }
        .fs-right-header-2 {
            max-width: calc(3 / 5 * 100vw);
        }
    }
}
