.featured-section-right-wrapper {
    .row {
        margin-top: 65px;
    }

    .section-banner-image {
        left: calc((100vw - 1440px) / 2 + (1 / 24 * 100vw));
    }

    .col {
        position: absolute;
        width: calc(1 / 4 * 100vw);
        left: calc(15 / 24 * 100vw);
    }

    .list-item {
        position: absolute;
        left: calc(13 / 24 * 100vw);
        width: calc(1 / 12 * 100vw);
    }

    @media screen and (min-width: 1440px) {
        .section-banner-image {
            left: calc(1 / 24 * 1440px);
        }
        .list-item {
            left: calc(13 / 24 * 1440px);
            width: calc(1 / 12 * 1440px);
        }
        .col {
            left: calc(15 / 24 * 1440px);
            width: calc(1 / 4 * 1440px);
        }
    }

    @media screen and (max-width: 834px) {
        .number h1 {
            font-size: 40px;
            line-height: 40px;
        }
    }
}
