# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store

.vscode
.idea

package-lock.json
pr_diff

recipe-server.log

# Local Netlify folder
.netlify
static/fonts/MatterSQItalicVF.woff
static/fonts/MatterSQItalicVF.woff2
static/fonts/MatterSQVF.woff
static/fonts/MatterSQVF.woff2
yarn.lock
