# Project dependencies
.cache
node_modules
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build directory
/public
.DS_Store

.vscode
.idea

package-lock.json
pr_diff

recipe-server.log

static/fonts/MatterSQItalicVF.woff
static/fonts/MatterSQItalicVF.woff2
static/fonts/MatterSQVF.woff
static/fonts/MatterSQVF.woff2
yarn.lock
fonts
src/components/Layout/Fonts.scss
.vercel
.env
*Type.ts