.docsPagesContent {
    iframe {
        max-width: 100%;
    }
    $ignoreParentSelectors: '.contributor-faces';
    $ignoreRootSelectors: '.ignore-external, .github-user-link';
    *:not(#{$ignoreParentSelectors}) a:not(#{$ignoreRootSelectors}) {
        &[href^="http://"], &[href^="https://"]
        {
            &:not([href*='posthog.com']):after {
                content: ' \2197';
            }
        }
    }
}

.light {
    .post-page {
        .docsPagesContent {
            h3,
            h3 a {
                color: #000;
            }
        }
    }
}

.dark {
    .post-page {
        blockquote {
            background-color: rgba(255, 255, 255, 0.05) !important;
            border: solid 2px #fff;
        }

        .docsPagesContent {
            a:not(.button) {
                color: #ffb877;

                &:hover {
                    text-decoration: underline;
                }
            }

            h3,
            h3 a {
                color: #fff !important;
            }

            .blogPageContent p,
            .blogPageContent blockquote,
            .blogPageContent li {
                font-size: 1.2em;
                line-height: 1.6;
                text-align: justify;
            }
        }
    }

    .ant-layout {
        background: #220f3f !important;
        color: #f0f2f5;
    }
}

/* Styling for Post Pages ONLY */

div.post-page {
    .small-line-height * {
        line-height: 0 !important;
    }

    blockquote {
        margin-top: 0;
        padding: 20px;
        border-radius: 10px;
        background-color: #fff7ea;
        margin-bottom: 1.45rem;
    }

    .warning-note {
        background-color: #ffdbd5;
    }

    tt,
    code {
        border-radius: 3px;
        font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono', 'Liberation Mono', Menlo, Courier,
            monospace;
        margin: 0 2px;
        padding: 3px 5px;
        white-space: pre-wrap;
    }

    tt {
        background-color: #f8f8f8;
    }

    pre code {
        background: none;
        line-height: 1.42;
        white-space: unset !important;
    }

    .small-text > code,
    .small-text > span,
    .small-text > a,
    .small-text > p {
        font-size: 12px !important;
    }

    code {
        background-color: rgba(41, 37, 44, 0.1);
        font-size: 14px !important;
    }

    code {
        font-size: 0.85rem;
        line-height: 1.45rem;
    }
    code[class*='language-'] {
        margin: 0;
        padding: 0;
    }
    code,
    kbd,
    pre,
    samp {
        font-family: monospace, monospace;
        font-size: 1em;
    }

    .note-block {
        background: #eeeeee;
        padding: 10px;
        border-radius: 5px;
    }

    .blog-quote {
        background: transparent;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: '\201C''\201D''\2018''\2019';
        max-width: 80%;
        margin-left: 5%;
        text-align: center;
        font-style: italic;
        font-size: 16px;
    }

    .blog-quote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    .blog-quote:after {
        color: #ccc;
        content: close-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
        margin-left: 1%;
    }

    .blog-quote > p {
        display: inline;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }

    .contributor-faces > a > img {
        display: inline-block;
        height: 50px;
        width: 50px;
    }

    .hacktoberfest {
        background-color: #fcb80f !important;
    }

    .good-first-issue {
        background-color: #7057ff !important;
        color: white;
    }

    .small-inner-text a,
    .small-inner-text p,
    .small-inner-text li {
        font-size: 14px !important;
        line-height: 1;
    }
}

.tag-label {
    border-radius: 4px;
    padding: 4px 16px;
}
