.modalContent {
    border-radius: 6px;
    background: #eee;
    width: 386px;
    height: unset;
    padding: 36px 24px 14px 24px;
    display: block;

    h3 {
        text-align: center;
    }

    p,
    .bottom-actions {
        margin: 0.5rem 0;
    }

    p {
        opacity: 0.6;
    }

    .bottom-actions {
        display: flex;
        justify-content: space-between;

        button {
            font-size: 90%;
            padding: 0;
            color: inherit;
            opacity: 0.6;
        }
    }

    .ant-input.signup-email-field {
        border: 0;
        height: 40px;
        padding: 8px 14px;
        margin-bottom: 14px;
    }

    .ant-btn.ant-btn-primary {
        border: 0;
        background: linear-gradient(180deg, #7735ae 0%, #611e98 100%);
        height: 52px;
        font-family: 'Osiris', sans-serif;
        font-size: 15px;
    }
}

.modalOverlay {
    background: rgba(42, 11, 70, 0.3);
}
