.hero {
    background: url(../images/hero-bg.svg), linear-gradient(180deg, #220f3f 0%, #2c1e60 100%);
    background-position: center center;
    background-repeat: repeat-x;
    position: relative;

    &:before {
        background: url(../images/rocket.svg);
        bottom: -10%;
        content: '';
        display: none;
        height: 939px;
        position: absolute;
        left: 3%;
        width: 174px;

        @media (min-width: 640px) {
            display: block;
        }
    }

    &:after {
        background: url(../images/moon.svg);
        content: '';
        height: 539px;
        position: absolute;
        right: -10%;
        top: -1%;
        width: 539px;
        zoom: 0.5;

        @media (min-width: 640px) {
            top: -5%;
            zoom: 1;
        }
    }
}

@keyframes animateIn100 {
    0% {
        opacity: 0;
        top: 10px;
    }

    85% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes animateIn50 {
    0% {
        opacity: 0;
        top: 10px;
    }

    85% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.5;
        top: 0;
    }
}

.product-features {
    grid-template-columns: repeat(4, 1fr);

    @media (min-width: 640px) and (max-width: 1023px) {
        grid-template-columns: repeat(4, 115px);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(7, 115px);
    }

    > div {
        &.opacity-100 {
            animation: animateIn100 0.5s ease;
        }

        &.opacity-50 {
            animation: animateIn50 0.5s ease;
        }

        animation-fill-mode: forwards !important;
        position: relative;
        opacity: 0;
        //width: 115px;

        &:nth-child(1) {
            animation-delay: 0.15s;
        }
        &:nth-child(2) {
            animation-delay: 0.3s;
        }
        &:nth-child(3) {
            animation-delay: 0.45s;
        }
        &:nth-child(4) {
            animation-delay: 0.6s;
        }
        &:nth-child(5) {
            animation-delay: 0.75s;
        }
        &:nth-child(6) {
            animation-delay: 0.9s;
        }
        &:nth-child(7) {
            animation-delay: 1.05s;
        }
        &:nth-child(8) {
            animation-delay: 1.2s;
        }
    }
}

.spotlight {
    background: linear-gradient(180deg, #2c1e60 0%, #30246d 100%);
}

.bg-pipes {
    background: url(../images/pipes.svg), linear-gradient(180deg, #2b114d 0%, #2a235b 100%);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.social-proof {
    background: linear-gradient(180deg, #2c1e60 0%, #30246d 100%);
}

.features {
    background: linear-gradient(180deg, #2c1e60 0%, #3c3288 100%);
}

.recent-blog-posts {
    background: linear-gradient(180deg, #2a235b 0%, #08042f 100%);
}

.private-cloud {
    background: url(../images/clouds.png), linear-gradient(180deg, #3c3288 0%, #b75184 100%);
    background-size: cover;
}

.city-wrapper {
    @media (max-width: 1023px) {
        padding-bottom: 3vw;
    }

    @media (min-width: 1024px) {
        padding-bottom: 5vw;
    }
}

.mountains {
    @media (max-width: 639px) {
        height: 350px;
    }
    @media (min-width: 640px) and (max-width: 1023px) {
        height: 738px;
    }
    @media (min-width: 1024px) {
        height: 838px;
    }
    @media (min-width: 2800px) {
        height: 1000px;
        margin-top: -255px;
    }
    margin-top: -455px;
    width: 100%;
}

.sun {
    height: 1259px;
    @media (max-width: 1023px) {
        left: -400px;
    }
    @media (min-width: 1024px) {
        left: -200px;
    }
    @media (min-width: 2800px) {
        left: 25%;
    }
    top: -700px;
    width: 1260px;
}

.timeline-wrapper {
    @media (max-width: 639px) {
        margin-top: 150px;
        padding-bottom: 182px;
        zoom: 0.8;
    }

    @media (min-width: 640px) and (max-width: 1023px) {
        margin-top: -399px;
        padding-bottom: 182px;
        zoom: 0.8;
    }

    @media (min-width: 1024px) {
        margin-bottom: 189px;
    }

    @media (min-width: 1280px) {
        margin-bottom: 89px;
    }
}

.timeline {
    max-width: none;
    width: 1440px;

    @media (min-width: 1440px) {
        width: 100%;
    }
}

.subway-wrapper {
    background: url(../images/subway-track.svg) repeat-x;
    height: 130px;
    @media (max-width: 1023px) {
        margin-top: -163px;
    }
}

.subway {
    //height: 130px;
}
