/* - OTHER FEATURES */
.other-features-container {
    display: block;
    clear: both;
    .other-features-wrapper {
        position: relative;
        width: 100vw;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .features {
        width: 834px;
        height: 1500px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .two-features {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
        max-width: 600px;
    }

    .feature-link {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 18px;
        transition: all 0.3s;
        text-align: center;
        width: 250px;
        height: 360px;
        background-color: #fff;
    }

    .header-4 {
        font-family: 'Gosha sans', Arial, Helvetica, sans-serif !important;
        color: black !important;
        font-weight: bold;
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 28px;
    }

    .feature-image {
        margin-bottom: 0 !important;
        height: 292px;
        width: 232px;
    }

    .feature-link:hover {
        box-shadow: 0 0 5px 5px #f0f0f0;
    }

    @media screen and (max-width: 834px) {
        .wrapper {
            height: 1000px;
        }
        .features {
            height: 1100px;
            flex-direction: column;
            width: 100vw;
            align-items: center;
        }
        .feature-link {
            width: 140px;
            height: 260px;
        }
        .feature-image {
            width: 140px;
            height: 180px !important;
        }
    }
}
