.featured-section-left-wrapper {
    .col {
        position: absolute;
        width: calc(7 / 12 * 100vw);
        max-width: 720px;
        left: calc(5 / 24 * 100vw);
    }

    .fs-left-paragraph {
        width: calc(3 / 10 * 100vw);
    }

    .section-banner-image {
        left: 50vw;
    }

    .fs-left-header-2 {
        max-width: calc(3 / 10 * 100vw);
    }

    .list-item {
        position: absolute;
        left: calc(3 / 24 * 100vw);
        width: calc(1 / 12 * 100vw);
    }

    @media screen and (min-width: 1440px) {
        .section-banner-image {
            left: calc(720px);
            width: calc(720px + ((100vw - 1440px) / 2));
        }
        .list-item {
            left: calc(3 / 24 * 1440px);
            width: calc(1 / 12 * 1440px);
        }
        .col {
            width: 720px;
            left: calc(5 / 24 * 1440px);
        }
        .fs-left-paragraph {
            // removed !important to display text correctly on 4k screens
            // Issue bug #1404
            width: calc(1 / 5 * 1440px);
        }
    }

    @media screen and (min-width: 1680px) {
        .fs-left-header-2 {
            max-width: calc(1 / 5 * 100vw);
        }
    }

    @media screen and (max-width: 1080px) {
        .row {
            min-height: 600px;
        }
        .fs-left-paragraph {
            text-align: center;
            width: calc(7 / 10 * 100vw) !important;
        }
        .fs-left-header-2 {
            max-width: calc(3 / 5 * 100vw);
        }
    }
}
