.log-slider:hover,
.log-slider:focus {
    cursor: pointer;

    .rc-slider-handle {
        cursor: pointer;
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

@media screen and (max-width: 1076px) {
    .rc-slider {
        max-width: 90%;
    }

    .rc-slider-mark-text {
        font-size: 13px;
        font-weight: bold;
        margin-top: 4px;
    }
}
