.menu-content {
    display: none !important;
}

.api-documentation {
    hr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    code {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        padding: 0 3px;
    }
    .prism-code {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .code-example {
        background: lighten(rgb(36, 41, 46), 10%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
}
