.bg-purple-gradient {
    background: linear-gradient(180deg, #200c39 0%, #220f3f 100%);
}

.bg-neon {
    position: relative;
}

.bg-neon:after {
    background: conic-gradient(
            from 180deg at 50% 50%,
            #f7a501 0deg,
            rgba(255, 17, 17, 0.614583) 78.75deg,
            rgba(252, 10, 228, 0.773124) 140.63deg,
            rgba(184, 41, 251, 0.817651) 189.38deg,
            rgba(252, 10, 228, 0.773124) 238.12deg,
            rgba(255, 17, 17, 0.614583) 300deg,
            #f7a501 360deg
        ),
        rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    bottom: -8px;
    content: '';
    position: absolute;
    left: -8px;
    right: -8px;
    top: -8px;
    z-index: 1;
}

.bg-neon:before {
    background: conic-gradient(
            from 180deg at 50% 50%,
            #f7a501 0deg,
            rgba(255, 17, 17, 0.614583) 78.75deg,
            rgba(252, 10, 228, 0.773124) 140.63deg,
            rgba(184, 41, 251, 0.817651) 189.38deg,
            rgba(252, 10, 228, 0.773124) 238.12deg,
            rgba(255, 17, 17, 0.614583) 300deg,
            #f7a501 360deg
        ),
        rgba(255, 255, 255, 0.8);
    bottom: 0;
    content: '';
    filter: blur(30px);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.bg-lightmode-gray {
    background: rgb(249, 249, 249) none repeat scroll 0% 0%;
}
