@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'workable-overrides.css';
@import 'backgrounds.css';

body {
    font-smooth: 1.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

ol,
ul {
    margin: initial;
    padding-left: 14px;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

.bg-primary {
    background: linear-gradient(91.54deg, rgba(255, 99, 39, 0.9) 0%, rgba(248, 88, 27, 0.9) 100%);
}

.bg-primary-dark {
    background: rgba(218, 72, 16, 0.9);
    border-color: rgba(218, 72, 16, 0.9);
}

.button-primary {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(2px);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    transition: 0.25s ease all;

    @apply bg-primary px-4 py-2 font-gosha inline-block rounded font-semibold border text-base-larger text-white hover:text-white uppercase;
}

.button-primary:hover,
.button-primary:active,
.button-primary:focus {
    background: rgba(218, 72, 16, 0.9);
    border-color: rgba(218, 72, 16, 0.9);
}

.contributor-images > img {
    @apply rounded m-1;
}

.appearance-none {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
