@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-shadow-none {
        text-shadow: none;
    }
}

main a,
.article-content a:not(.cta) {
    @apply text-red hover:text-red font-semibold;
}

p {
    font-variant-numeric: proportional-nums;
}

/* Content pages (Handbook,  Docs, Blog, Customers, FAQ) */
.article-content {
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: -0.015em;
        margin-top: 2rem;
    }

    p,
    li {
        font-size: 17px;
        line-height: 1.75;
        opacity: 0.9;

        li {
            font-size: 1em;
        }

        img.blog-post-img-large {
            max-width: 150%;
            margin-left: -25%;
        }
    }

    &.handbook-docs-content {
        p,
        li {
            font-size: 16px;
        }
    }

    p {
        margin-bottom: 1rem;
    }

    li li {
        font-size: 1rem;
    }

    li {
        margin-bottom: 0.125rem;
    }

    blockquote:not(.quote) {
        @apply p-6 rounded bg-gray-accent-light dark:bg-gray-accent-dark;
    }

    iframe {
        @apply rounded w-full;
    }

    /* expandable/collapsible sections */
    details {
        @apply p-2 cursor-pointer text-base border-gray-accent-light dark:border-gray-accent-dark border-dashed border;

        > summary {
            @apply text-red list-none pl-4 relative before:absolute before:left-[3px] before:top-[8px] before:w-[10px] before:h-[7px];

            &:before {
                background: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M8.15448 0.316976L5.00049 3.47201L1.8465 0.316976C1.42387 -0.105659 0.73923 -0.105659 0.316596 0.316976C-0.105532 0.739104 -0.105532 1.42425 0.316596 1.84636L4.23586 5.76563C4.65799 6.18726 5.34211 6.18726 5.76421 5.76563L9.68296 1.84688V1.84637C10.1056 1.42425 10.1056 0.740128 9.68347 0.317507C9.26134 -0.105115 8.57722 -0.105128 8.1546 0.317L8.15448 0.316976Z' fill='%23EF7632' /%3E%3C/svg%3E");
                transform: rotate(-90deg);
                transition: all 0.25s ease-out;
            }
        }

        &[open] {
            > summary:before {
                transform: rotate(0deg);
                transition: all 0.25s ease-out;
            }
        }

        > div {
            @apply ml-4 mt-2 rounded;
        }
    }

    details + details {
        @apply border-t-0;
    }
}

@media screen and (max-width: 800px) {
    .article-content {
        img.blog-post-img-large {
            max-width: 100%;
            margin-left: 0;
        }
    }
}

/* animated underlined links */
.article-content a:not(.cta),
footer a:not(.cta) {
    background: linear-gradient(to right, rgba(191, 191, 188, 0), rgba(191, 191, 188, 0)),
        linear-gradient(to right, rgba(191, 191, 188, 1), rgba(191, 191, 188, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    padding-bottom: 0.2rem;
    transition: background-size 400ms !important; /* unfortunately necessary until antd is removed */

    &:hover,
    &:focus {
        background-size: 0 0.1em, 100% 0.1em;
    }
}

.share-links a {
    background: none;
    transition: none;
}

/* Product page */

.product-hero-image {
    &:after {
        @apply absolute bottom-0 left-0 w-full h-48 bg-gradient-to-t from-tan z-20;
        content: '';
    }
}

div[class^='feature-'].text-center {
    @apply border-gray border-dashed border-1 md:mb-0 relative overflow-hidden;
}

.feature-event-autocapture {
    /* @apply border-r border-gray border-dashed; */
    background: url('../images/dash-vertical.svg') 100% / 1px repeat-y;
}

/* Handbook + Docs */

.jumpTo {
    position: relative;

    &:before {
        background-image: url("data:image/svg+xml,%0A%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12.576 19.08c-.024 0-.024.024-.048.024-.048.025-.072.048-.12.073-.024 0-.048.024-.072.024-.024 0-.072.024-.096.024-.047 0-.095 0-.144.025H12c-.047 0-.095 0-.144-.025-.024 0-.072-.024-.096-.024-.024 0-.047-.024-.095-.024-.025-.025-.072-.025-.096-.048-.024-.025-.048-.025-.072-.025-.048-.024-.096-.072-.145-.12l-4.344-4.392a.955.955 0 010-1.368.955.955 0 011.368 0l2.712 2.713V10.56a5.788 5.788 0 015.784-5.784c.528 0 .96.432.96.96 0 .527-.432.96-.96.96a3.862 3.862 0 00-3.864 3.864v5.4l2.712-2.712a.955.955 0 011.368 0 .947.947 0 01.288.672c0 .24-.096.48-.288.672l-4.368 4.368c-.048.048-.095.072-.144.12v-.001z' fill='%23000'/%3E%3C/svg%3E");
        background-size: 18px 18px;
        content: '';
        height: 18px;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 18px;

        @apply xl:hidden;
    }

    &:hover:before {
        opacity: 1;
    }
}

.dark .jumpTo:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12.576 19.08c-.024 0-.024.024-.048.024-.048.025-.072.048-.12.073-.024 0-.048.024-.072.024-.024 0-.072.024-.096.024-.047 0-.095 0-.144.025H12c-.047 0-.095 0-.144-.025-.024 0-.072-.024-.096-.024-.024 0-.047-.024-.095-.024-.025-.025-.072-.025-.096-.048-.024-.025-.048-.025-.072-.025-.048-.024-.096-.072-.145-.12l-4.344-4.392a.955.955 0 010-1.368.955.955 0 011.368 0l2.712 2.713V10.56a5.788 5.788 0 015.784-5.784c.528 0 .96.432.96.96 0 .527-.432.96-.96.96a3.862 3.862 0 00-3.864 3.864v5.4l2.712-2.712a.955.955 0 011.368 0 .947.947 0 01.288.672c0 .24-.096.48-.288.672l-4.368 4.368c-.048.048-.095.072-.144.12v-.001z' fill='%23fff'/%3E%3C/svg%3E");
}

.dark .jumpTo {
    &:hover:before {
        opacity: 0.5;
    }
}

article .article-content {
    blockquote:not('.quote') {
        @apply text-base;
    }
}

/* Careers page */

.benefits-grid {
    > div {
        @apply border-gray-accent-light border-r border-b border-dashed;

        &:nth-child(2n) {
            @apply sm:border-r-0 lg:border-r-1;
        }
        &:nth-child(4n) {
            @apply md:border-r-0;
        }
    }
}

/* this overrides Tailwind's built-in font-weight classes to work with our variable font */
@layer utilities {
    .font-thin {
        font-variation-settings: 'wght' 100;
    }
    .font-extralight {
        font-variation-settings: 'wght' 200;
    }
    .font-light {
        font-variation-settings: 'wght' 300;
    }
    .font-lightish {
        font-variation-settings: 'wght' 400;
    }
    .font-normal {
        font-variation-settings: 'wght' 475;
    }
    .font-medium {
        font-variation-settings: 'wght' 500;
    }
    .font-semibold {
        font-variation-settings: 'wght' 600;
    }
    .font-bold {
        font-variation-settings: 'wght' 800;
    }
    .font-extrabold {
        font-variation-settings: 'wght' 850;
    }
    .font-black {
        font-variation-settings: 'wght' 900;
    }
}

@import 'workable-overrides.css';
@import 'backgrounds.css';
@import 'buttons.scss';

body {
    font-smooth: 1.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    height: auto !important;
}

body.light {
    @apply text-primary;

    .post-page {
        .docsPagesContent {
            a:not(.button) {
                @apply text-orange;
            }
        }
    }
}

body.dark {
    @apply text-primary-dark;

    .ant-layout {
        background: #220f3f !important;
        color: #f0f2f5;
    }

    .post-page {
        blockquote {
            background-color: rgba(255, 255, 255, 0.05) !important;
            border: solid 2px #fff;
        }

        .docsPagesContent {
            a:not(.button) {
                @apply text-orange;
            }

            h3,
            h3 a {
                color: #fff !important;
            }
        }
    }
}

ol,
ul {
    margin: initial;
    padding-left: 2em;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

.bg-primary-dark {
    background: rgba(218, 72, 16, 0.9);
    border-color: rgba(218, 72, 16, 0.9);
}

.contributor-images > .gatsby-image-wrapper {
    height: 50px;
    width: 50px;

    @apply rounded m-1;
}

.appearance-none {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.rc-slider.log-slider .rc-slider-track {
    @apply bg-yellow;
}

.rc-slider.log-slider .rc-slider-handle {
    @apply bg-yellow border-3 border-white h-4 w-4;
}

.rc-slider.log-slider .rc-slider-handle:active {
    @apply shadow-none;
}

/* Slider base styles */
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.company-submenu-item-container {
    @apply grid grid-cols-1 gap-4 lg:gap-0 lg:grid-cols-5 m-0 p-0 list-none;
}

.company-submenu-item-container > li {
    @apply border-dashed border-opacity-100 dark:border-opacity-30 border-gray-accent-light border-b last:border-b-0 pb-5 lg:pb-12;
}

@media (min-width: 1024px) {
    .company-submenu-item-container > li {
        @apply odd:col-span-3;
    }
    .company-submenu-item-container > li {
        @apply even:col-span-2;
    }

    .company-submenu-item-container > li:nth-of-type(1) {
        @apply border-b border-r pr-12;
    }

    .company-submenu-item-container > li:nth-of-type(2) {
        @apply border-b pl-12;
    }

    .company-submenu-item-container > li:nth-of-type(3) {
        @apply border-r pr-12 pt-12 border-b-0;
    }

    .company-submenu-item-container > li:nth-of-type(4) {
        @apply pl-12 pt-12 border-b-0;
    }
}

.group:hover .bounce {
    animation: bounce 1s;
}

@keyframes bounce {
    20% {
        transform: translateX(20%);
    }
    33% {
        transform: translateX(0%);
    }
    34% {
        transform: translateX(10%);
    }
}

.template-section-content {
    &:not(.divide-dashed) {
        @apply gap-x-12;
    }
    &.divide-dashed {
        > * {
            @apply px-0 sm:px-7 my-2;
        }
    }
    > * {
        & > {
            * {
                &:first-of-type,
                &.mdx-header:first-of-type * {
                    @apply mt-0;
                }
            }
        }
    }
    table {
        @apply m-0 text-base;
        th {
            @apply border-0 text-center;
            &:first-of-type {
                @apply text-left;
            }
        }
        td {
            @apply font-bold border-l-0 border-r-0 border-dashed border-gray-accent-light text-center;
            &:first-of-type {
                @apply text-left;
            }
        }
        img,
        svg {
            @apply mx-auto;
        }
    }
}

/* Next Steps */

.next-steps-content {
    p {
        @apply text-base;
        margin-bottom: 20px;
    }
}

.checkbox:checked {
    & + svg {
        @apply visible;
    }
}

.plugin-content {
    h1 a {
        /* Temporary fix until plugin content can be processed as MDX */
        color: inherit !important;
        @apply !font-bold;
    }
    img {
        @apply hidden;
    }
}

@keyframes features-ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-2700px, 0, 0);
    }
}

.infinite-features-ticker {
    animation: features-ticker 80s linear infinite;
}

.active-product {
    a {
        @apply opacity-100;
    }

    &:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 100%;
        background: #f54e00;
        border-radius: 2px;
        left: -12px;
    }
}

.images-slider > li {
    &:nth-of-type(even) {
        margin-left: -12%;
        margin-top: 7%;
    }
    &:nth-of-type(odd) {
        margin-left: -12%;
    }
    &:first-of-type {
        margin-left: 0px;
    }
    width: calc(25% + 12%);
}

.DocSearch-Search-Icon {
    @apply hidden;
}
.DocSearch.DocSearch-Container {
    z-index: 99999999;
}
.DocSearch-Button {
    @apply flex-grow text-left flex items-center space-x-1;
}
.DocSearch-Button-Placeholder {
    @apply inline-flex items-center;
}
.DocSearch-Button-Container {
    @apply flex items-center;
}
.DocSearch-Button-Placeholder::before {
    content: url('/images/search.svg');
    height: 16px;
    @apply mr-3;
}

/* Lemon Tag */
.lemon-tag {
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 2px 6px;
    border-radius: 4px;
    text-transform: uppercase;
    display: inline;
    color: #2d2d2d;
    line-height: 1rem;
}

.lemon-tag.warning {
    background-color: #f7a501;
}

.lemon-tag.danger {
    background-color: #df4313;
    color: rgba(255, 255, 255, 0.88);
}

.lemon-tag.success {
    background-color: #77b96c;
    color: rgba(255, 255, 255, 0.88);
}

.mary-chain {
    display: none;
}

.dark .api-content {
    p,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    button {
        @apply !text-white;
    }

    button,
    [role='tab'] {
        @apply !bg-gray-accent-dark;
    }

    .redoc-json {
        @apply bg-gray-accent-dark p-5 rounded-md;
    }
}

.api-content {
    p,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    button,
    div {
        @apply !text-primary;
    }

    .http-verb {
        @apply !text-white;
    }

    .redoc-json {
        @apply bg-gray-accent-light p-5 rounded-md;
    }

    h1 {
        @apply capitalize dark:text-white text-3xl sm:text-5xl mt-0 mb-2 font-bold;
    }

    > div:first-of-type {
        display: none;
    }

    > div:nth-of-type(2) {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    button {
        border: 1px solid;
        box-shadow: none !important;
        @apply bg-white border-gray-accent-light rounded-md;
    }
    [id^='operation'] > div > div {
        width: 100%;
        padding: 0px;
    }
    @media (min-width: 1200px) {
        [id^='operation'] > div > div {
            width: 50%;
        }
    }
}

.api-content-container {
    max-width: calc(100vw - 2rem);
}

@media (min-width: 1200px) {
    .api-content-container {
        width: calc(100% - 224px);
        @apply ml-8;
    }
}
