@tailwind base;
@tailwind components;
@tailwind utilities;

div[class^='feature-'] {
    @apply border-black border-dashed border-2 md:mb-0 relative overflow-hidden;
}

/* this overrides Tailwind's built-in font-weight classes to work with our variable font */
@layer utilities {
    .font-thin {
        font-variation-settings: 'wght' 100;
    }
    .font-extralight {
        font-variation-settings: 'wght' 200;
    }
    .font-light {
        font-variation-settings: 'wght' 300;
    }
    .font-normal {
        font-variation-settings: 'wght' 475;
    }
    .font-medium {
        font-variation-settings: 'wght' 500;
    }
    .font-semibold {
        font-variation-settings: 'wght' 600;
    }
    .font-bold {
        font-variation-settings: 'wght' 800;
    }
    .font-extrabold {
        font-variation-settings: 'wght' 850;
    }
    .font-black {
        font-variation-settings: 'wght' 900;
    }
}

@import 'workable-overrides.css';
@import 'backgrounds.css';
@import 'buttons.scss';

body {
    font-smooth: 1.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

ol,
ul {
    margin: initial;
    padding-left: 14px;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

.bg-primary-dark {
    background: rgba(218, 72, 16, 0.9);
    border-color: rgba(218, 72, 16, 0.9);
}

.contributor-images > .gatsby-image-wrapper {
    height: 50px;
    width: 50px;

    @apply rounded m-1;
}

.appearance-none {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.cta {
    @apply bg-almost-black px-5 py-2 rounded-full text-white;
}

.rc-slider.log-slider .rc-slider-track {
    @apply bg-yellow;
}

.rc-slider.log-slider .rc-slider-handle {
    @apply bg-yellow border-3 border-white h-4 w-4;
}

.rc-slider.log-slider .rc-slider-handle:active {
    @apply shadow-none;
}
