node_modules/
.cache/
public

# Local Netlify folder
.netlify
netlify/functions/gatsby/functions
deployment.json

# @netlify/plugin-gatsby ignores start
netlify/functions/gatsby
# @netlify/plugin-gatsby ignores end

package-lock.json