#gatsby-focus-wrapper > .pricing-hero {
    background: url(../../../images/pricing-background.png) top center / cover #0e0d3c;

    h1 {
        background: -webkit-linear-gradient(#5dc7d8, #0e90a5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

#gatsby-focus-wrapper .pricing-hero {
    .platform-columns {
        //grid-template-columns: repeat(3, 1fr);

        @media (min-width: 840px) {
            grid-template-columns: repeat(3, 1fr);
        }
        position: relative;
        z-index: 11;

        .insights-column {
            position: relative;

            @media (min-width: 1092px) {
                &:before,
                &:after {
                    content: '';
                    height: 1px;
                    opacity: 0.5;
                    position: absolute;
                    top: 148px;
                }

                &:before {
                    background: linear-gradient(90deg, #3954c2 0%, #f1764f 100%);
                    left: -14%;
                    right: calc(100% - 14%);
                }

                &:after {
                    background: linear-gradient(90deg, #d7684b 0%, #ff9900 100%);
                    right: -14%;
                    left: calc(100% - 14%);
                }
            }
        }

        li {
            backdrop-filter: blur(5px);
            border: solid 1px rgba(255, 255, 255, 0.2);
            border-radius: 3px;
            color: #8fbcff;
            display: flex;
            font-family: 'Osiris';
            font-size: 1em;
            margin: 0 auto 0.75rem;
            max-width: 250px;
            padding: 0.5rem;
            text-transform: lowercase;

            -ms-transform: skewX(-20deg);
            -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);

            > * {
                -ms-transform: skewX(20deg);
                -webkit-transform: skewX(20deg);
                transform: skewX(20deg);
            }

            figure {
                display: none;

                flex: 0 0 auto;
                margin: 0 0.5em 0 0;
            }

            span {
                flex: 1;
                // padding-right: 24px;
            }
        }
    }
}
