body.dark {
    background-color: #220f3f;

    .site-footer {
        background-color: #220f3f;
        a {
            color: rgba(255, 255, 255, 0.6) !important;

            &:hover {
                color: rgba(255, 255, 255, 1) !important;
            }
        }
    }

    .header-wrapper {
        background: linear-gradient(180deg, #200c39 0%, #220f3f 100%);
    }

    .docsPagesContent {
        .ant-tabs-tab-arrow-show,
        .ant-tabs-content {
            color: white;
        }
    }

    .post-page-wrapper {
        .site-footer {
            background-color: #220f3f;
        }

        .header-wrapper {
            background: #220f3f;
        }

        #docs-sidebar {
            background-color: #19082f !important;
        }

        #menu-header,
        .right-bar-inner,
        #right-navbar,
        #docs-search-container,
        #docs-content-wrapper,
        #docs-content-wrapper,
        #ant-layout-content-wrapper {
            background-color: #220f3f !important;
        }

        .footer-universal {
            color: white !important;
            background-color: #111213 !important;
        }

        .footer-universal a:hover {
            color: #a7a5ac !important;
        }

        .footer-links-header {
            color: #cac9cf !important;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        strong {
            color: #ffffff !important;
        }

        li,
        p,
        .blog-quote,
        label {
            color: #d4d4d4 !important;
        }

        a {
            color: #ba8fff;
        }

        .primary-navbar a {
            color: #fff;
        }

        .ant-menu-submenu-selected > .ant-menu-submenu-title span {
            color: #b78aff !important;
        }

        .ant-menu-submenu-title {
            color: #f3f3f3;
        }

        .ant-menu-submenu-title:hover {
            color: #b78aff !important;
        }

        .ant-menu-submenu-selected.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
        .ant-menu-submenu-selected.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
        .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
        .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
            background: #b78aff !important;
        }

        .ant-menu-item::after {
            border-right: 3px solid #b78aff !important;
        }

        .ant-menu-item:hover {
            color: #c6a2ff !important;
        }

        .keySelectedLink {
            color: rgb(255, 255, 255);
        }

        .keySelectedLink:hover {
            color: #bd94fd !important;
        }

        .ant-menu-item-selected > a {
            color: #b78aff !important;
        }

        .header-key-active span {
            color: #b78aff !important;
            border-bottom: solid 2px #b78aff;
        }

        .docs-footer,
        .note-block,
        blockquote,
        code {
            background: #19082f;
            color: #ffffff;
        }

        pre code {
            background: #272822 !important;
        }

        .warning-note {
            background: #0d0113 !important;
        }

        .ant-anchor-link-active a {
            color: #ba8fff !important;
        }

        .ant-anchor-link a {
            color: rgba(255, 255, 255, 0.4);
        }

        .ant-anchor-link a:hover {
            color: #c5a7f7 !important;
        }

        .ant-anchor-ink::before {
            background-color: #38343a;
        }

        .ant-anchor-ink-ball {
            border-color: #ba8fff !important;
            background: #220f3f !important;
        }

        .zambezi {
            color: #dddddd !important;
        }

        .zambezi:hover {
            color: #ba8fff !important;
        }

        table {
            td,
            tr,
            th {
                color: #ffffff !important;
            }
        }
    }

    .post-page-wrapper {
        #docs-sidebar,
        #menu-header,
        #right-navbar,
        .right-bar-inner,
        #docs-search-container,
        #docs-content-wrapper,
        #ant-layout-content-wrapper,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        li,
        a {
            transition: 1s;
        }
    }
}
