@font-face {
    font-family: 'MatterVF';
    /* LOCAL DEVELOPMENT */
    // src: url('/fonts/MatterSQVF.woff') format('woff supports variations'),
    //    url('/fonts/MatterSQVF.woff') format('woff-variations'),
    //    url('/fonts/MatterSQVF.woff2') format('woff2 supports variations'),
    //    url('/fonts/MatterSQVF.woff2') format('woff2-variations');

    /* PRODUCTION */

    src: url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQVF.woff2')
            format('woff2 supports variations'),
        url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQVF.woff2') format('woff2-variations'),
        url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQVF.woff')
            format('woff supports variations'),
        url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQVF.woff') format('woff-variations');

    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
}

@font-face {
    font-family: 'MatterVF';
    /* LOCAL DEVELOPMENT */
    // src: url('/fonts/MatterSQItalicVF.woff') format('woff supports variations'),
    //    url('/fonts/MatterSQItalicVF.woff') format('woff-variations'),
    //    url('/fonts/MatterSQItalicVF.woff2') format('woff2 supports variations'),
    //    url('/fonts/MatterSQItalicVF.woff2') format('woff2-variations');

    /* PRODUCTION */
    src: url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQItalicVF.woff2')
            format('woff2 supports variations'),
        url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQItalicVF.woff2')
            format('woff2-variations'),
        url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQItalicVF.woff')
            format('woff supports variations'),
        url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQItalicVF.woff')
            format('woff-variations');

    font-style: italic;
    font-weight: 300 900;
    font-display: swap;
}

@font-face {
    font-family: 'Fairytale';
    src: url('/fonts/fairytale_serif-webfont.woff2') format('woff2'),
        url('/fonts/fairytale_serif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern';
    src: url('/fonts/cmunti-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Squeak';
    src: url('/fonts/squeak-bold-webfont.woff2') format('woff2'), url('/fonts/squeak-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
