@font-face {
    font-family: 'MatterVF';
    /* LOCAL DEVELOPMENT */
    // src: url('/fonts/MatterSQVF.woff') format('woff supports variations'),
    //    url('/fonts/MatterSQVF.woff') format('woff-variations'),
    //    url('/fonts/MatterSQVF.woff2') format('woff2 supports variations'),
    //    url('/fonts/MatterSQVF.woff2') format('woff2-variations');

    /* PRODUCTION */

    src: url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQVF.woff2')
            format('woff2 supports variations'),
        url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQVF.woff2') format('woff2-variations'),
        url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQVF.woff')
            format('woff supports variations'),
        url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQVF.woff') format('woff-variations');

    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
}

@font-face {
    font-family: 'MatterVF';
    /* LOCAL DEVELOPMENT */
    // src: url('/fonts/MatterSQItalicVF.woff') format('woff supports variations'),
    //    url('/fonts/MatterSQItalicVF.woff') format('woff-variations'),
    //    url('/fonts/MatterSQItalicVF.woff2') format('woff2 supports variations'),
    //    url('/fonts/MatterSQItalicVF.woff2') format('woff2-variations');

    /* PRODUCTION */
    src: url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQItalicVF.woff2')
            format('woff2 supports variations'),
        url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQItalicVF.woff2')
            format('woff2-variations'),
        url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQItalicVF.woff')
            format('woff supports variations'),
        url('//d27nj4tzr3d5tm.cloudfront.net/Website-Assets/Fonts/Matter/MatterSQItalicVF.woff')
            format('woff-variations');

    font-style: italic;
    font-weight: 300 900;
    font-display: swap;
}

@font-face {
    font-family: 'Fairytale';
    src: url('/fonts/fairytale_serif-webfont.woff2') format('woff2'),
        url('/fonts/fairytale_serif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern';
    src: url('/fonts/cmunti-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Squeak';
    src: url('/fonts/squeak-bold-webfont.woff2') format('woff2'), url('/fonts/squeak-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Charter';
    src: url('https://res.cloudinary.com/dmukukwp6/raw/upload/charter_regular_webfont_f2e9d7f011.eot');
    src: url('https://res.cloudinary.com/dmukukwp6/raw/upload/charter_regular_webfont_f2e9d7f011.eot?#iefix') format('embedded-opentype'),
         url('https://res.cloudinary.com/dmukukwp6/raw/upload/charter_regular_webfont_a7b51e1a63.woff') format('woff'),
         url('https://res.cloudinary.com/dmukukwp6/raw/upload/charter_regular_webfont_5fd18ab8a9.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Charter';
    src: url('https://res.cloudinary.com/dmukukwp6/raw/upload/charter_bold_webfont_ee994b940c.eot');
    src: url('https://res.cloudinary.com/dmukukwp6/raw/upload/charter_bold_webfont_ee994b940c.eot?#iefix') format('embedded-opentype'),
         url('https://res.cloudinary.com/dmukukwp6/raw/upload/charter_bold_webfont_479d813f7d.woff') format('woff'),
         url('https://res.cloudinary.com/dmukukwp6/raw/upload/charter_bold_webfont_cfd6a9556e.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
