/* latin */
@font-face {
  font-family: 'Lato';
  src: url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2);
}

/*Gosha Sans*/
@font-face {
  font-family: 'Gosha Sans';
  src: url('/fonts/GoshaSans-Bold.woff') format('woff');
  src: url('/fonts/GoshaSans-Bold.woff2') format('woff2');
}

html {
  font-family: lato !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: fseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #1D4AFF; 
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 64px;
  line-height: 1.5;
  font-family: 'Gosha Sans', Helvetica, Arial, sans-serif; ;
}

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0 !important;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold!important;
  text-rendering: optimizeLegibility;
  font-size: 48px;
  line-height: 1.5;
  font-family: 'Gosha sans', Helvetica, Arial, sans-serif; ;
  font-style: normal;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 36px;
  line-height: 1.5;
  font-family: 'Helvetica Neue';
  font-style: normal;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 30px;
  line-height: 1.5;
  font-family: 'Helvetica Neue';
  font-style: normal;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 24px;
  color: inherit;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 0.9rem;
  line-height: 1.5;
  font-family: 'Helvetica Neue'
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Helvetica Neue'
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
  background-color: #ffffff;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  font-size: 16px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2rem!important;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 14px;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
code[class*="language-"] { margin:0; padding: 0}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: pre-wrap;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

/* CUSTOM */

@media screen and (min-width: 1076px) {
  .closeButton { /*Very quick fix, clean this up*/
    display: none!important;
  }
} 

/* antd componentes custom styling */

main.ant-layout-content {
  min-height: 280px; 
  padding: 3rem 0% 0px 10%; 
  width: 100%;
}

.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}

.medium-row{
  height:400px;
}

.header-row{
  margin-top:96px;
  margin-bottom:48px;
}

.medium-row h2{
  margin-top:96;
}

#logo {
  position: relative;
  left: 28px;
  overflow: hidden;
  color: rgba(0,0,0,.85);
  font-size: 18px;
  line-height: 64px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-variant: tabular-nums;
  white-space: nowrap;
  text-decoration: none;
}


#logo img {
  width: auto;
  position: relative;
  top: 10px;
  height: 32px;
  margin-right: 16px;
  vertical-align: middle;
}

header {
  margin: 0;
  padding: 0;
  height: auto;
}

.headerItems {

}

.headerItems ul {
  background: none!important;
}


#logo {
  margin: 0;
  padding: 0;
}

.dropdownMenu {
  background-color: #ffffff!important;
  height: 100vh!important;
}

.dropdownMenuButton {
  color: #000000!important;
}

.redTopbar {
  min-height: 150px;
  height: 100%;
  width: 100%;
  background-color: #F96132;
}

.redTopbarButton {
  height: 60px!important;
  width: 60px!important;
  font-size: 30px!important;
  color: #FFFFFF!important;
  position: relative!important;
  left: 84vw!important;
  top: -24px!important;
}

.redTopbarText {
  position: relative;
  left: 10vw;
  width: 70vw;
  top: 50px;
}

.redTopbarText h2 {
  font-size: 20px;
  margin: 0 0 20px;
  line-height: 20px;
}

.redTopbarText p {
  margin: 0;
  line-height: 20px;
  color: #ffffff;
  font-size: 12px;
}

.mobileSidebarMenu {
  position: relative;
  left: 18px;
  width: calc(100vw - 18px);
  background-color: #ffffff;
  height: auto;
}

.footer-universal{
  background: #353F6F;
  color: #FFF;
  position: relative;
  left: 0px;
  width: '100%';
  top: '100%';
  margin-top:0;
  padding-top: 40px;
  padding-bottom: 80px;
  height: 100%;
}

.ant-menu, .ant-menu-submenu, .ant-menu-item {
  background: initial!important;
  border: initial!important;
  color: initial!important;
}

.ant-menu-submenu-title span {
  font-weight: 400!important;
}

aside.sidebar {
  background: #F0F0F0;
  font-weight: 400!important;
  border-right: 10px solid #F96132;
}

.ant-menu-item > a {
  color: #000000!important;
}

.ant-menu-submenu-active > div {
  color: #1D4AFF!important;
}

.ant-menu-item-active > a {
  color: #1D4AFF!important;
}

.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
  background: #1D4AFF!important;
}

li.ant-menu-submenu-selected > .ant-menu-submenu-active i::before, 
li.ant-menu-submenu-selected > .ant-menu-submenu-active i::after {
  background: #1D4AFF!important;
}

.ant-menu-submenu-selected.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before, 
.ant-menu-submenu-selected.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
  background: #1D4AFF!important;
}

li.ant-menu-submenu-selected > div {
  color: #1D4AFF!important;
}

.ant-menu-item::after {
  border-right: 3px solid #1D4AFF!important;
}

.ant-menu-item-selected a {
  color: #1D4AFF!important;
}

aside.sidebarRight {
  background: #fff;
  border: none;
}

.rightBar {
  border: none;
}

.rightBar div {
  background-color: #fff
}

a.ant-anchor-link-title:hover, .ant-anchor-link-active a {
  color: #1D4AFF!important;
}

span.ant-anchor-ink-ball {
  border-color: #1D4AFF;
}

.footer-universal a {
  color: #fff;
}
.footer-links{
  list-style-type: none;
  margin-top:20px;
  line-height:1em;
  text-align:left;
}

.footer-links-header{
  font-weight:bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-message{
  text-align: left;
}

.footer-li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.shadow{
  -webkit-box-shadow: 0 8px 20px rgba(143,168,191,.35);
  box-shadow: 0 8px 20px rgba(143,168,191,.35);
}

.hover-shadow{
  padding:10px;
  border-radius:4px;
  transition: 0.15s ease-in-out all;
  height:100px;
}

.hover-shadow:hover{
  -webkit-box-shadow: 0 8px 20px rgba(143,168,191,.35);
  box-shadow: 0 8px 20px rgba(143,168,191,.35);
  cursor: pointer;
  color:#1890ff;
}

.column100height{
  height:100px;
}

.spacer-row{
  margin-top:100px;
  margin-bottom:100px;
}

.icon-100{
  font-size:85px;
}

.post-toc-anchor {
  margin-left: -24px;
  margin-right: 8px;
  opacity: 0
}

.docsPages h2 {
  color: #000000;
  margin-top: 2rem;
  padding-bottom: 1rem;
  left: 0;
}

.docsPages h2:before{
  content: "";
  position: absolute;
  width: 120px;
  bottom: 0;
  left: 0;
  border-bottom: 10px solid #F96132;
  border-radius: 10px;
}

.docsPages h3 {
  color: #000000;
  margin-top: 2rem;
  margin-bottom: 1.45rem;
  left: 0;
}


.docsPages a {
  color: #1D4AFF;
}

.docsPages a:hover {
  color: #8FA6FC;
}

.blogPost h2 + h3 {
  color: #000000;
  margin-top: .2rem;
  margin-bottom: 1.45rem;
  left: 0;
}

.blogPost p + h2 {
  margin-top: 2rem !important;
  margin-bottom: 1.45rem;
  left: 0;
}

header.blogPost {
  background-image: url('../../images/blog-background.svg');
  height: 200px;
}


.blogPost hr {
  width: 4rem;
  height: 0;
  margin-bottom: 2rem;
  border: .2rem;
  border-style: solid;
  border-color:#1D4AFF;
}
.blogPost a {
  color: #1D4AFF;
}

.blogPost a:hover {
  color: #577BFB;
}

.ant-layout {
  background-color: white!important;
}

.docs-footer {
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 52px;
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.docs-footer a {
  color: #1D4AFF;
}

.docs-footer a:hover {
  color: #8FA6FC;
}

.docs-footer h4 {
  position: relative;
  color: #000000;
  margin-top: 2rem;
  padding-bottom: 1rem;
  left: 0;
}

.docs-footer h4:before{
  content: "";
  position: absolute;
  width: 70px;
  bottom: 0;
  left: 0;
  border-bottom: 7px solid #F96132;
  border-radius: 10px;
}

.blog-post p > span {
  margin: 1.45rem auto;
  width: 65%;
  display: block;
}

h1:hover .post-toc-anchor,
h2:hover .post-toc-anchor,
h3:hover .post-toc-anchor,
h4:hover .post-toc-anchor,
h5:hover .post-toc-anchor,
h6:hover .post-toc-anchor
{
  opacity: 1
}

a.middle { display: block; text-align: center }

.blue {
  color: #1D4AFF;
}

.red {
  color: #F96132!important;
}

.yellow {
  color: #F7A501;
}

table td {
  border: none;
}

table th {
  border: none;
}

.table-borders > table > thead > tr > th,
.table-borders > table > tbody > tr > td
{
    border: 1px solid !important;
    border-color: #E8E8E8 !important;
    padding-left: 10px !important;
}

#mc_embed_signup {
  clear:left; 
  font:14px Helvetica, Arial, sans-serif; 
  width:100%;
}

#mc_embed_signup .button {
  background-color: #1D4AFF !important;
}

#mc_embed_signup .button:hover {
  background-color: #577BFB !important;
}
