body {
    font-family: 'IBM Plex Sans', '-apple-system', 'BlinkMacSystemFont', 'avenir next', 'avenir', 'segoe ui',
        'helvetica neue', 'helvetica', 'Ubuntu', 'roboto', 'noto', 'arial', 'sans-serif' !important;
    overflow-x: hidden;
    word-wrap: break-word;
    margin: 0;
}
body.light {
    background-color: #eeefe9;
}
body.dark {
    background-color: #1d1f27;
}
