@import '../../vars';

body {
    font-variant-numeric: proportional-nums !important;
    font-feature-settings: unset !important;
    font-variant-numeric: initial !important;
    font-variation-settings: 'wght' 475;
}

em,
i {
    font-variant: none;
    font-feature-settings: unset;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overscroll-behavior-y: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
progress {
    vertical-align: fseline;
}
[hidden],
template {
    display: none;
}
a:active,
a:hover {
    outline-width: 0;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background-color: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0;
}
optgroup {
    font-weight: 700;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type='reset'],
[type='submit'],
button,
html [type='button'] {
    -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
textarea {
    overflow: auto;
}
[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}
[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

body {
    font-family: 'MatterVF', '-apple-system', 'BlinkMacSystemFont', 'avenir next', 'avenir', 'segoe ui',
        'helvetica neue', 'helvetica', 'Ubuntu', 'roboto', 'noto', 'arial', 'sans-serif' !important;
    overflow-x: hidden;
    word-wrap: break-word;
    margin: 0;
}
body.light {
    background-color: #eeefe9;
}
body.dark {
    background-color: #1d1f27;
}

img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

h5 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    line-height: 1.5;
}
h6 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    text-rendering: optimizeLegibility;
    font-size: 18px;
    line-height: 1.5;
}
hgroup {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}
ol {
    margin-left: 1.45rem;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    list-style-position: outside;
    list-style-image: none;
}
li {
    font-size: 16px;
    line-height: 1.5;
}
dl {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}
dd {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}
p {
    font-size: 0.85rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    font-size: 16px;
    line-height: 1.5;
}
figure {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}
pre {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 2rem;
    font-size: 0.85rem;
    line-height: 1.42;
    background: hsla(0, 0%, 0%, 0.04);
    border-radius: 3px;
    overflow: auto;
    word-wrap: normal;
    padding: 1.45rem;

    &.inline {
        display: inline-block;
        margin: 0;
    }
}
table {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    line-height: 1.45rem;
    width: 100%;
}
fieldset {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}

form {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}
noscript {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}
iframe {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}
hr {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 10px;
    background: hsla(0, 0%, 0%, 0.2);
    border: none;
    height: 1px;
}
address {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}
b,
strong,
dt,
th {
    font-variation-settings: 'wght' 800;
}
ol li {
    padding-left: 0;
}
ul li {
    padding-left: 0;
}
blockquote *:last-child {
    margin-bottom: 0;
}
.article-content blockquote *:last-child {
    margin-bottom: 0;
}
p *:last-child {
    margin-bottom: 0;
}
kbd {
    font-size: 0.85rem;
    line-height: 1.45rem;
}
samp {
    font-size: 0.85rem;
    line-height: 1.45rem;
}
abbr {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
}
acronym {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
}
abbr[title] {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
    text-decoration: none;
}

/* CUSTOM */

.gutter-box {
    padding: 8px 0;
    background: #00a0e9;
}

.medium-row {
    height: 400px;
}

.header-row {
    margin-top: 96px;
    margin-bottom: 48px;
}

.medium-row h2 {
    margin-top: 96;
}

.logoWrapperSidebar {
    width: 300px;
    padding: 0 40px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 60px;
}

header {
    margin: 0;
    padding: 0;
}

.blogHeader {
    background-color: #35416b !important;
    background-size: cover;
    height: 240px !important;
    margin-bottom: 30px;
}

.blog-post-content,
.customer-content {
    h2 {
        padding: 2rem 0 0.25rem;
    }
    h3 {
        padding: 1rem 0 0.25rem;
    }
    h4 {
        padding: 0.75rem 0 0.25rem;
    }
    p,
    li {
        line-height: 1.75em;
        opacity: 0.9;
        li {
            font-size: 1em;
        }
    }
    li {
        margin-bottom: calc(1.45rem / 2);
    }
    img.blog-post-img-large {
        max-width: 150%;
        margin-left: -25%;
    }
}

@media screen and (max-width: 800px) {
    .blog-post-content {
        img.blog-post-img-large {
            max-width: 100%;
            margin-left: 0;
        }
    }
}

.menuHeaderWrapper {
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: none;
}

.headerItems {
    margin-right: 20px;
}

.headerItems ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.header-key {
    margin-left: 20px;
    float: 'right';
    margin-bottom: 'calc(1.45rem / 2)';
}

.mobileHeader {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
    padding: 5vh 0 0;
}

.mobileHeaderClose {
    float: right;
    font-size: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 5vh;
    background-color: #ffffff;
}

.mobileHeaderItem {
    text-align: center;
}

.mobileHeaderItem a,
.mobileHeaderItem h4 > span {
    list-style: none;
    padding: 3vh 10vw;
    margin: 0;
    color: #000000 !important;
}

.mobileHeaderItem .login-btn,
.mobileHeaderItem a:hover {
    color: #1d4aff !important;
}

.mobileHeaderItem .login-btn:hover {
    color: #577bfb !important;
}

.mobileHeaderList {
    width: 100%;
    float: left;
    background-color: #ffffff;
}

.sidebarWrapper {
    margin: 0 10px;
}

.ant-menu,
.ant-menu-submenu,
.ant-menu-item {
    background: initial !important;
    border: initial !important;
    color: initial !important;
}

li > .ant-menu-submenu-title span {
    font-size: 16px;
}

.ant-menu-submenu a {
    font-size: 14px;
}

.ant-menu-submenu ul > li .ant-menu-submenu-title span {
    font-size: 14px;
}

/* Targets submenu titles */
.ant-menu-submenu-title span {
    font-variation-settings: 'wght' 800;
}

/* Targets submenu titles inside a submenu e.g. 1 min tutorials */
ul ul .ant-menu-submenu-title span {
    font-size: 15px !important;
}

aside.sidebar {
    background: #f0f0f0;
}

.ant-menu-item > a {
    color: #000000;
}

.ant-menu-submenu-active > div {
    color: #1d4aff !important;
}

.keySelectedLink:hover {
    color: #1d4aff !important;
}

.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
    background: #1d4aff !important;
}

li.ant-menu-submenu-selected > .ant-menu-submenu-active i::before,
li.ant-menu-submenu-selected > .ant-menu-submenu-active i::after {
    background: #1d4aff !important;
}

.ant-menu-submenu-selected.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
.ant-menu-submenu-selected.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
    background: #1d4aff !important;
}

li.ant-menu-submenu-selected > div {
    color: #1d4aff !important;
}

.ant-menu-item::after {
    border-right: 3px solid #1d4aff !important;
}

.ant-menu-item-selected a {
    color: #1d4aff;
}

aside.sidebarRight {
    background: #fff;
    border: none;
}

a.ant-anchor-link-title:hover,
.ant-anchor-link-active a {
    color: #1d4aff !important;
}

span.ant-anchor-ink-ball {
    border-color: #1d4aff;
}

.rightBar {
    border: none;
}

a.ant-anchor-link-title:hover {
    color: #1d4aff;
}

.ant-anchor-link-active a {
    color: #1d4aff !important;
}

.ant-anchor-ink span {
    border-color: #1d4aff !important;
}

.footer-message {
    text-align: left;
}

.footer-li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.shadow {
    -webkit-box-shadow: 0 8px 20px rgba(143, 168, 191, 0.35);
    box-shadow: 0 8px 20px rgba(143, 168, 191, 0.35);
}

.hover-shadow {
    padding: 10px;
    border-radius: 4px;
    transition: 0.15s ease-in-out all;
    height: 100px;
}

.hover-shadow:hover {
    -webkit-box-shadow: 0 8px 20px rgba(143, 168, 191, 0.35);
    box-shadow: 0 8px 20px rgba(143, 168, 191, 0.35);
    cursor: pointer;
    color: #1890ff;
}

.column100height {
    height: 100px;
}

.spacer-row {
    margin-top: 100px;
    margin-bottom: 100px;
}

.icon-100 {
    font-size: 85px;
}

.post-toc-anchor {
    margin-left: -24px;
    margin-right: 8px;
    opacity: 0;
}

.blog-post h2 {
    color: #000000;
    margin-top: 2rem;
    margin-bottom: 0.45rem;
    left: 0;
    border-bottom: 1px solid #000000;
}

.docsPages h2,
.docsPages h3 {
    margin-top: 2rem;
    margin-bottom: 1.45rem;
    left: 0;
}

.blog-post h2 + h3 {
    margin-top: 0.2rem;
    margin-bottom: 1.45rem;
    left: 0;
}

.blogHeaderTitle {
    position: relative;
    width: 80%;
    color: white;
    vertical-align: bottom;
    left: calc((100% - 960px) * 0.5 + 2.175rem);
    max-width: 960px;
}

.blogHeaderTitle h1 {
    margin-top: 24px;
}

.blog-post p + h2 {
    margin-top: 2rem !important;
    margin-bottom: 1.45rem;
    left: 0;
}

.blog-post hr {
    width: 4rem;
    height: 0;
    margin-bottom: 2rem;
    border: 0.2rem;
    border-style: solid;
    border-color: #1d4aff;
}

.blog-post a:hover {
    color: #577bfb;
}

.docs-footer {
    margin-top: 2rem;
    background: rgb(218, 218, 218);
    padding: 1rem 2rem;
    border-radius: 10px;
}

.docs-footer a {
    color: #1d4aff;
}

.docs-footer a:hover {
    color: #577bfb;
}

.blog-post p > span {
    margin: 1.45rem auto;
    width: 65%;
    display: block;
}

h1:hover .post-toc-anchor,
h2:hover .post-toc-anchor,
h3:hover .post-toc-anchor,
h4:hover .post-toc-anchor,
h5:hover .post-toc-anchor,
h6:hover .post-toc-anchor {
    opacity: 1;
}

a.middle {
    display: block;
    text-align: center;
}

.notDocsLayout {
    background-color: #ffffff;
    width: 100%;
}

.notDocsLayout main {
    position: relative;
    left: 0;
    right: 0;
}

.docsPageLayout {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    padding: 0px 1.0875rem 1.45rem;
}

.docsPageLayout main {
    min-height: 280px;
    padding: 2rem 0% 0 10%;
    width: 100%;
}

.layout.featuresPageLayout {
    width: 100vw;
    max-width: 1440px;
    padding: 0 25px;
    margin: 0 calc((100vw - 1440px) / 2);
}

.docsPageLayout main > .container {
    position: relative;
}

.blogPageLayout {
    background-color: #ffffff;
    width: 100%;
}

.blogPageLayout main {
    min-height: 280px;
    margin: 0 auto;
    padding: 0px 1.0875rem 1.45rem;
    max-width: 960px;
}

.blue {
    color: #1d4aff !important;
}

.red {
    color: #f96132 !important;
}

.yellow {
    color: #f7a501 !important;
}

.white {
    color: #ffffff !important;
}

.zambezi {
    color: #595959 !important;
}

.navy {
    color: #35416b !important;
}

.bg-zambezi {
    background-color: #595959 !important;
}

.bg-navy {
    background-color: #35416b !important;
}

.table-no-borders th,
.table-no-borders td {
    border: none;
}

#mc_embed_signup {
    clear: left;
    width: 100%;
}

#mc_embed_signup .button {
    background-color: #1d4aff !important;
}

#mc_embed_signup .button:hover {
    background-color: #577bfb !important;
}

.sidebarButtonWrapper {
    position: static;
    width: 100vw;
    height: 40px;
    line-height: 40px;
    padding: 0;
}

.sidebarButton {
    position: relative;
    margin: 8px;
    z-index: 2;
}

.mobileSidebarWrapper {
    position: relative;
    background-color: #ffffff !important;
    z-index: 100;
    width: 100%;
    height: 100vh;
}

.mobileSidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: left 0.3s ease-out, right 0.3s ease-out;
    overscroll-behavior-y: contain;
}

.blogPages {
    max-width: 960px;
    margin: 0 auto;
}

.star-repo-btn {
    display: flex;
    justify-content: center;
    width: 165px !important;
}

.star-repo-btn span {
    display: flex;
    align-items: center;
}

.headerItem {
    color: #595959;
}

.login-btn.blogPage,
.headerItem.blogPage {
    color: #ffffff !important;
}

.centered {
    display: block;
    text-align: center;
}

.center {
    display: block !important;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.menu-header {
    z-index: 100;
}

.burger-btn {
    z-index: 200;
}

.homepage-burger-btn,
.blogpage-burger-btn {
    color: #ffffff !important;
}

.ant-menu-navbar {
    border-bottom-width: 0;
}

.ant-menu-navbar-blog {
    background: none;
}

#navbar-responsive-wrapper {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100vh !important;
    width: 100% !important;
    z-index: 100 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 64px !important;
    border-top: 0.5px solid #ebebeb;

    .ant-list {
        border-bottom: 0.5px solid #ebebeb;
    }
}

.responsive-menu-item {
    list-style: none;
    padding: 3vh 10vw !important;
    margin: 0;
}

.responsive-menu-item-meta {
    color: 'black';
    text-decoration: 'none';
}

.navbar-list {
    width: 100%;
    float: left;
    background-color: #ffffff !important;
}

.right {
    display: block;
    text-align: right;
}

.left {
    display: block;
    text-align: left;
}

.post-page-sub-header {
    display: block;
    height: 60px;
}

.post-page-sub-header-inner {
    position: absolute !important;
    right: 50px;
}

.post-page-wrapper .docsPagesContent,
.rightBar {
    a img:hover {
        opacity: 0.7;
    }
}

.announcement-banner {
    background-color: #f7a501;
    height: 50px;
    z-index: 999999;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    .announcement-text {
        color: #fff;
        margin-top: 8px;
        font-family: 'Gosha Sans', sans-serif;
        font-size: 18px;
    }

    .announcement-banner-close {
        position: fixed;
        right: 20px;
        bottom: 18px;
        z-index: 99999999;
    }
}

.announcement-banner:hover {
    background-color: #fab938;
    cursor: pointer;
}

#navbar-responsive-wrapper li.responsive-menu-item {
    border-bottom: 1px solid #e8e8e8 !important;
}

@media screen and (min-width: 1076px) {
    .display-mobile {
        display: none !important;
    }
    .menuHeaderWrapper.noLogo {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 1076px) {
    .display-desktop {
        display: none !important;
    }
    .display-mobile {
        display: unset;
    }
    .menuHeaderWrapper.noLogo {
        justify-content: space-between;
    }
    .post-page-sub-header {
        position: relative;
        z-index: 1;
        height: 80px !important;
    }
    .post-page-sub-header-inner {
        right: 10px;
    }
    .docsHeader {
        background-color: #f9f9f9;
        border-bottom: 6px solid #c4c4c4;
        padding: 0;
    }

    .blogHeader {
        background-image: none !important;
        height: 64px;
        border: none !important;
        padding: 0;
    }

    header.menuHeader {
        width: 100% !important;
        padding: 0 !important;
        background: linear-gradient(180deg, #200c39 0%, #220f3f 100%);
    }

    .menuHeaderWrapper {
        padding: 0 20px;
    }

    .blogHeader {
        height: 64px !important;
    }

    .docsPageLayout main {
        padding: 3rem 0 0;
    }

    .docs-only-layout main {
        padding-top: 0 !important;
    }

    .headerItems ul {
        flex-direction: column;
    }

    .mobileHeaderItem {
        width: 100vw;
        border: none !important;
    }

    .mobileHeaderItem a {
        font-size: 20px;
        line-height: 32px;
    }

    .announcement-banner {
        .announcement-text {
            font-size: 14px;
        }
    }
}

.card-elevated {
    box-shadow: 0px 80px 80px rgba(0, 0, 0, 0.075), 0px 10px 10px rgba(0, 0, 0, 0.035) !important;
}

.card-elevated:hover {
    box-shadow: 0px 80px 80px rgba(76, 155, 245, 0.075), 0px 10px 10px rgba(111, 149, 255, 0.035) !important;
    cursor: pointer;
    background-color: #fbfeff;
}

.ant-tabs-bar {
    border-bottom: none !important;
}

@media screen and (max-width: 1250px) {
    .footer-links-header {
        font-size: 16px !important;
    }
}

/*the globe wraps below the intro text
for all other rows the portrait image wraps above bio*/
.team-row.intro {
    flex-wrap: wrap;
}

.small-inner-text a,
.small-inner-text p,
.small-inner-text li {
    font-size: 14px !important;
    line-height: 1;
}

.centered-spin {
    display: block !important;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-nav-cta {
    border: 1px solid $border;
    border-radius: 2px;
    padding: 8px 16px;
    color: #fff;
    transition: background-color 300ms ease-out;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.main-nav-cta-wrapper:hover {
    opacity: inherit !important;
}

.main-nav-cta-dark-bg {
    background-color: #222d5b;
    border-color: #fff;
    border-radius: 2px;
    color: #fff;
}

.main-nav-cta-light-bg {
    background-color: $primary;
    border-color: $primary;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0s;
}

.main-nav-cta-wrapper:hover {
    .main-nav-cta-light-bg {
        background-color: darken($primary, 5%);
    }

    .main-nav-cta-dark-bg {
        background-color: #fff !important;
        color: #222d5b !important;
        border-color: #222d5b !important;
    }
}

.header-key:hover {
    opacity: 0.5;
}

.header-key:visited {
    color: inherit !important;
}

.header-key-active span {
    padding-bottom: 4px;
    border-bottom: solid 2px $brand_blue;
    color: $brand_blue;
}

@media screen and (max-width: 834px) {
    li {
        font-size: 16px;
    }
}

.contributor-card-tooltip {
    .ant-tooltip-inner {
        background-color: #0f041f;
    }
}

.anchor-link,
.post-toc-anchor {
    svg {
        filter: invert(83%) sepia(0%) saturate(1327%) hue-rotate(153deg) brightness(92%) contrast(87%);
    }
}

.site-footer {
    background-color: #08042f;
}

.site-footer--transparent {
    background-color: transparent !important;
}

.post-page-wrapper {
    .header-wrapper:not(.blog-article-header) {
        background: rgb(249, 249, 249) none repeat scroll 0% 0%;
    }
}

table th[align='center'],
table td[align='center'] {
    text-align: center;
}

body.light {
    .handbook-container {
        .header-wrapper {
            background: white;
        }
    }
}

.handbook-container {
    .contributor-faces {
        display: flex;
        flex-wrap: wrap;
    }
    .breadcrumbs-container > li:not(:last-of-type)::after {
        content: url('/images/right-arrow.svg');
        fill: currentColor;
        width: 1.25rem;
        height: 1.25rem;
    }
}

#handbook-search-wrapper,
#docs-search-wrapper {
    .algolia-autocomplete {
        height: auto;
        width: 100%;
    }
}
