.page-header-container {
    background: linear-gradient(180deg, #220f3f 0%, #2c1e60 100%);
    .head {
        width: 100vw;
        height: 414px;
        margin: 0 0 40px;
        padding: 0 calc((100vw - 1440px) / 2 + 150px);
        background-repeat: no-repeat;
        background-size: 450px auto;
        background-position: 55vw center;
    }

    .tagline {
        position: relative;
        height: 100%;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10vw;
    }

    .tagline p,
    .tagline h1,
    .tagline h3 {
        color: #ffffff;
    }

    .tagline h1 {
        font-variation-settings: 'wght' 800;
    }

    .tagline > p {
        font-size: 20px !important;
        line-height: 30px !important;
    }

    @media screen and (max-width: 1080px) {
        .head {
            border-radius: 0;
            width: 100vw;
            height: 640px;
            margin: 0 0 40px;
            display: flex;
            justify-content: center;
            background-position: center 80px !important;
            background-size: 400px auto;
        }
        .tagline {
            margin-left: 0;
            height: 340px;
            width: 60vw;
            align-self: flex-end;
            align-content: center;
            text-align: center;
        }
        .tagline h3 {
            order: 2;
        }
        .tagline p {
            font-size: 18px;
            line-height: 32px !important;
        }
    }

    @media screen and (max-width: 834px) {
        .head {
            background-size: 300px auto;
        }
        .selfHosted {
            background-size: 260px auto !important;
        }
        .tagline p {
            font-size: 16px !important;
        }
    }

    @media screen and (min-width: 1440px) {
        .head {
            padding: 0 calc((100vw - 1440px) / 2 + 25px) !important;
        }
    }

    @media screen and (min-width: 2000px) {
        .tagline {
            margin-left: 5vw;
        }
    }

    .selfHosted {
        background-image: url('../../images/self-hosted-head.svg') !important;
        background-size: 325px !important;
    }

    .autocapture {
        background-image: url('../../images/event-autocapture-head.svg') !important;
    }

    .trends {
        background-image: url('../../images/trends-head.svg') !important;
    }

    .funnels {
        background-image: url('../../images/funnels-head.svg') !important;
    }

    .retention {
        background-image: url('../../images/retention-head.svg') !important;
    }

    .featureFlags {
        background-image: url('../../images/feature-flags-head.svg') !important;
    }

    .productFeatures {
        background-image: url('../../images/product-features-head.svg');
    }

    .sessionRecording {
        background-image: url('../../images/session-recording-head.svg') !important;
    }

    .plugins {
        background-image: url('../../images/plugins-head.svg') !important;
    }
}
