.bonjour {
    content: 'honhonohon';
}

.features.table-borders td, .features.table-borders th {
  border: none!important;
  background-color: grey;
  padding: 10px 0!important;
  text-align: center;
  color: #ffffff;
}

.features.table-borders th {
  font-size: 36px;
  line-height: 60px;
  height: 140px;
}

.features.table-borders td {
  border-radius: 20px;
  font-size: 24px;
  line-height: 60px;
}

.features.table-borders td:empty {
  background: none!important;
}

.features.table-borders th:first-child {
  background-color: #F4F6FF;
  border-radius: 20px 0 0 0;
  color: #35416B;
}

.features.table-borders td:first-child {
  background-color: #F4F6FF!important;
  border-radius: 0;
  color: #35416B;
}
  
.features.table-borders tr:last-child td:first-child {
  background-color: #F4F6FF!important;
  border-radius: 0 0 20px 20px;
}

.features.table-borders th:nth-child(2) {
  background-color: #F96132;
  border-radius: 0;
  color: #ffffff;
}

.features.table-borders td:nth-child(2) {
  background-color: #F96132;
}

.features.table-borders th:nth-child(3) {
  background-color: #AABBFF;
  border-radius: 0;
  color: #ffffff;
}

.features.table-borders td:nth-child(3) {
  background-color: #AABBFF;
}

.features.table-borders th:nth-child(4) {
  background-color: #6D8AFF;
  border-radius: 0;
  color: #ffffff;
}

.features.table-borders td:nth-child(4) {
  background-color: #6D8AFF;
}

.features.table-borders th:last-child {
  background-color: #3F65FF;
  border-radius: 0 20px 0 0;
  color: #ffffff;
}

.features.table-borders td:last-child {
  background-color: #3F65FF;
}

/* INTERNAL PAGES */

.featuresWrapper {
  width: 100%;
}

.head {
  border-radius: 50px;
  background-color: #35416B;
  width: calc(1390/1440 * 100vw);
  max-width: 1390px;
  height: 505px;
  margin: 0 25px 40px;
}

.blue {
  background-color: #35416B;
}

.orange {
  background-color: #F96132;
}

.yellow {
  background-color: #F7A501;
}

.headContents {
  position: relative;
  height: 100%;
  width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 100px;
}

.headContents p, .headContents h1, .headContents h3 {
  color: #ffffff;
}

.headContents h1 {
  font-weight: bold;
}

main > div > div {
  margin: 0!important;
}

.headNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.headNav.top {
  margin-left: -39px;
  width: 190px;
}

.headNav.bottom {
  width: 160px;
}

.headNav button {
  border: none!important;
  background: none!important;
  color: #ffffff;
  font-size: 22px;
  line-height: 22px;
  transition: color .3s;
}

.headNav p {
  margin-bottom: 0!important;
  font-family: 'Gosha Sans', sans-serif;
  font-weight: bold;
  font-size: 20px!important;
  line-height: 54px;
  transition: color .3s;
}

.headNav:hover p, .headNav:hover button {
  color: #3F65FF!important;
}

@media screen and (min-width: 1440px) {
  .featuresWrapper {
    padding: 0 calc((100vw - 1440px) / 2)
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  max-width: 1440px;
}

.row h2 {
  font-family: "Gosha Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h2.number {
  color: #F7A501;
  font-size: 54px;
}

.rowContents {
  position: relative;
  width: 240px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rowImg {
  position: relative;
  height: 600px;
  width: 700px;
  background-color: blue;
}

.head.selfHosted {
  background-image: url('../images/self-hosted-head.svg')!important;
  background-size: 495px 459px;
  background-position: 700px top;
  background-repeat: no-repeat;
}