@font-face {
    font-family: 'Gosha Sans';
    src: url('/GoshaSans-Regular.ttf') format('truetype');
  }

.indexPage h1, .indexPage h2 {
    border-bottom: none;
}

.indexContainer {
    position: relative;
    margin: 0;
    height: auto;
    max-height: 60vh;
    width: 100%;
    background-size: cover;
}

.ant-row {
    background: none;
    margin: auto 0;
    padding: auto 0;
}

.ant-layout {
    background: none!important;
}

.ant-menu { 
    background: none!important;
}

.ant-btn-primary { 
  background-color: #1D4AFF;
  border-color: #1D4AFF;
}

.ant-btn-primary:hover { 
    background-color: #577BFB;
    border-color: #577BFB;
  }

.ant-btn-secondary {
  border-color: #1D4AFF;
  color: #1D4AFF;
  background-color: #FFFFFF;
}

.ant-btn-secondary:hover {
    border-color: #577BFB;
    color: #577BFB;
  }

.understandUsers {
    position: absolute;
    height: 100%;
    top: 25vh;
}

.understandUsersText {
    color: #35416B;
}

.openSource {
    margin: 4rem 0 0;
}

.autocaptureWrapper {
    height: 43.194444444vw;
    width: 100%;
    background-size: contain;
}

.autocapture{
    position: relative;
    top: 25%;
}

.trafficVisualWrapper {
    height: 79.027777777vw;
    width: 100%;
    background-size: cover;
}

.traffic {
    margin-top: 10%;
}

.trafficText {
    width: 20vw;
    color: #35416B;
}

.visualize {
    top: 40%
}

.improveConversion {
    margin: 15vh 0 20vh;
}

.improveConversion img {
    margin: 0 auto 8vh;
}

.featureFlagsWrapper {
    position: static;
    height: 40.347222222vw;
    width: 100%;
    background-size: cover;
}

.featureFlags {
    top: 20%;
}

.featureFlagsText {
    width: 30vw;
}

.designed4Stack {
    margin: 15vh auto;
}

.posthog4Enterprise {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.posthog4Enterprise img {
    width: 100%;
    right: 0;
    height: auto;
}

.selfHostedData {
    padding: 0;
    margin: 5vh auto 0;
    width: 100%;
    height: auto;
}

.selfHostedData img {
    width: 100%;
    right: 0;
    height: auto;
}

.yourStack img:hover {
    opacity: 0.7;
}

.installNow {
    margin-top: 5vh;
    height: auto;
    width: 100%;
    padding-bottom: 5vh;
}

.installNow img {
    left: 0;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.installNowImg div{
    height: 200px;
    width: 200px;
}

.installNowShelf img {
    width: 100%;
}

@media screen and (max-width: 576px) {
    .installNowImg div{
        border-radius: 12px;
        border: .5px solid #35416B;
        background-color: #FFFFFF;
    }
}

.installNowImg img:hover {
    opacity: 0.7;
}

.heroku {
    left: 14.22%;
}

.heroku img {
    width: 70%;
    height: auto;
    display: block;
    margin: 15%;
    vertical-align: middle;
}

.docker {
    left: 33.92%;
}

.docker img {
    width: 70%;
    height: auto;
    display: block;
    margin: 15%;
}

.aws {
    left: 53.55%;
}

.aws img {
    width: 70%;
    height: auto;
    display: block;
    margin: 15%;
    margin-top: 30%;
}

.kubernetes {
    left: 72.99%;
}

.kubernetes img {
    width: 70%;
    height: auto;
    display: block;
    margin: 15%;
}

.yourStack img {
    vertical-align: bottom;
}

.whatsNewWrapper {
    height: 70vw;
    width: 100%;
    background-size: cover;
}

.whatsNew {
    position: relative;
    top: 5vh;
}

.hover-shadow{
    border-radius: 18%;
    transition: 0.15s ease-in-out all;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0px
  }

  .hover-shadow:hover{
    -webkit-box-shadow: 0 8px 20px rgba(143,168,191,.35);
    box-shadow: 0 8px 20px rgba(143,168,191,.35);
    cursor: pointer;
    color:#1890ff;
  }
.subtitle {
    font-size: 16px;
}

.gosha {
    font-family: 'Gosha Sans'
}

.yellowText {
    color: #F9BD2B;
}

.redText {
    color: #F96132;
}

.blueText {
    color: #353F6F;
}

.numberHead {
    font-size: 1.38316rem;
}

.yellowLine {
    width: 118px;
    border: .2rem;
    border-style: solid;
    border-radius: 10px;
    border-color:#F9BD2B;
}

.redLine {
    width: 118px;
    height: 0px;
    border: .2rem;
    border-style: solid;
    border-radius: 10px;
    border-color: #F96132;
}

.blueLine {
    width: 118px;
    height: 0px;
    border: .2rem;
    border-style: solid;
    border-radius: 10px;
    border-color: #1D4AFF;
}

.yellowLine2 {
    height: 0px;
    width: 2rem;
    border: .1rem;
    border-style: solid;
    border-color:#F9BD2B;
}

.redLine2 {
    height: 0px;
    width: 2rem;
    border: .1rem;
    border-style: solid;
    border-color:#F96132;
}

.blueLine2 {
    height: 0px;
    width: 2rem;
    border: .1rem;
    border-style: solid;
    border-color:#353F6F;
}

@media screen and (max-width: 768px) {
    img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .imageShow {
        display: grid;
    }
}