.indexPage h1, .indexPage h2 {
    border-bottom: none;
}

.indexContainer {
    position: relative;
    margin: 0;
    height: auto;
    max-height: 60vh;
    width: 100%;
    background-size: cover;
}

.ant-row {
    background: none;
    margin: auto 0;
    padding: auto 0;
}

.ant-col {
    display: flex;
    flex-direction: column;
}

.ant-layout {
    background: none!important;
}

.ant-menu { 
    background: none!important;
}

.ant-btn-primary { 
  background-color: #1D4AFF;
  border-color: #1D4AFF;
}

.ant-btn-primary:hover { 
    background-color: #577BFB;
    border-color: #577BFB;
  }

.ant-btn-secondary {
  border-color: #1D4AFF;
  color: #1D4AFF;
  background-color: #FFFFFF;
}

.ant-btn-secondary:hover {
    border-color: #577BFB;
    color: #577BFB;
  }

.understandUsers {
    position: inherit;
    top: 15vh;
}

.understandUsersText {
    color: #35416B;
}

.autocaptureWrapper {
    position: relative;
    height: 43.194444444vw;
    width: 100%;
    background-size: contain;
}

@media screen and (max-width: 768px) {
    .indexContainer .ant-row {
        padding-bottom: 1.45rem;
    }
}

.redBackground {
    background-color: rgba(249,97,50,.2);
    margin: 0;
    padding: 4rem 0 0;
}

.blueBackground {
    background-color: rgba(53,65,107,.2);
    margin: 0;
    padding: 4rem 0 1.45rem;
}

.yellowBackground {
    background-color: rgba(247,165,1,.2);
    margin: 0;
    padding: 4rem 0 0;
}

.whiteBackground {
    margin: 0;
    padding: 4rem 0;
}

@media screen and (max-width: 768px) {
    .whiteBackground {
        padding: 4rem 0 0;
    }
}

img {
    margin-bottom: 0;
}

.firstSpace {
    margin-top: 8rem;
}

@media screen and (max-width: 768px) {
    .firstSpace {
        margin-top: 1rem;
    }
}

.secondSpace {
    margin-top: 4rem;
}

@media screen and (max-width: 768px) {
    .secondSpace {
        margin-top: 2rem;
    }
}

.componentSpace {
    margin-top: 4rem;
    padding: 0px 1.0875rem 1.45rem;
}

@media screen and (max-width: 576px) {
    .componentSpace{
        padding: 0px;
    }
}

h3 {
    color: #595959;
}

.yellowText {
    color: #F9BD2B;
}

.redText {
    color: #F54E00;
}

.blueText {
    color: #353F6F;
}

.numberHead {
    font-size: 1.38316rem;
}

.yellowLine {
    width: 118px;
    height: 0px;
    border: .2rem;
    border-style: solid;
    border-radius: 10px;
    border-color:#F9BD2B;
}

.redLine {
    width: 118px;
    height: 0px;
    border: .2rem;
    border-style: solid;
    border-radius: 10px;
    border-color:#F54E00;
}

.blueLine {
    width: 118px;
    height: 0px;
    border: .2rem;
    border-style: solid;
    border-radius: 10px;
    border-color: #1D4AFF;
}

.yellowLine2 {
    height: 0px;
    width: 2rem;
    border: .1rem;
    border-style: solid;
    border-color:#F9BD2B;
}

.redLine2 {
    height: 0px;
    width: 2rem;
    border: .1rem;
    border-style: solid;
    border-color:#F54E00;
}

.blueLine2 {
    height: 0px;
    width: 2rem;
    border: .1rem;
    border-style: solid;
    border-color:#353F6F;
}

@media screen and (max-width: 768px) {
    img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .imageShow {
        display: grid;
    }
}
.lightBlueBreak {
    background: #1d4aff;
    opacity: 0.07;
    height: 10rem;
}

.darkBreak {
    background: #C4C4C4;
    height: 10rem;
   
}

.yourStack img:hover {
    opacity: 0.7;
}

.installNow {
    height: auto;
    width: 100%;
}

.installNow img {
    left: 0;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.installNowImg div{
    position: absolute;
    height: 33.78%;
    width: 13.5%;
    top: 45.35%;
    border-radius: 10%;
    border: 1.5px solid #35416B;
    background-color: #FFFFFF;
}

@media screen and (max-width: 576px) {
    .installNowImg div{
        border-radius: 12px;
        border: .5px solid #35416B;
        background-color: #FFFFFF;
    }
}

.installNowImg img:hover {
    opacity: 0.7;
}

.heroku {
    left: 14.22%;
}

.heroku img {
    width: 70%;
    height: auto;
    display: block;
    margin: 15%;
    vertical-align: middle;
}

.docker {
    left: 33.92%;
}

.docker img {
    width: 70%;
    height: auto;
    display: block;
    margin: 15%;
}

.aws {
    left: 53.55%;
}

.aws img {
    width: 70%;
    height: auto;
    display: block;
    margin: 15%;
    margin-top: 30%;
}

.kubernetes {
    left: 72.99%;
}

.kubernetes img {
    width: 70%;
    height: auto;
    display: block;
    margin: 15%;
}

.yourStack img {
    vertical-align: bottom;
}

.hover-shadow{
    border-radius: 18%;
    transition: 0.15s ease-in-out all;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0px
  }

  .hover-shadow:hover{
    -webkit-box-shadow: 0 8px 20px rgba(143,168,191,.35);
    box-shadow: 0 8px 20px rgba(143,168,191,.35);
    cursor: pointer;
    color:#1890ff;
  }
.subtitle {
    font-size: 16px;
}


