.p-text-center {
  text-align: center;
}

.p-title {
  font-size: 64px;
  font-weight: 500;
}

.p-text-primary {
  color: #2542b9 !important;
}

.p-full-height {
  height: 100%;
}

.p-plan-title {
  font-size: 36px;
  font-weight: 500;
  color: #595959;
}

.p-plan-price {
  font-size: 32px;
  font-weight: 500;
  color: #000;
}

.p-plan-price span {
  display: block;
  font-size: 20px;
}

.p-plan-description {
  color: #595959;
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-plan-benefits {
  padding-top: 16px;
  color: #000;
}

.p-plan-benefits span {
  display: block;
  padding-bottom: 16px;
}

.p-plan-benefit-lg {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 0 !important;
}

.p-plan-popular-badge {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  width: 80%;
  height: 48px;
  background: #2542b9;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-segment {
  max-width: 100%;
  width: 360px;
  height: 40px;
  background: #ececec;
  border-radius: 2px;
  display: flex;
}

.p-segment label {
  display: inline-block;
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: #595959;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.p-segment label.active {
  background-color: #2542b9;
  color: #fff;
}

.p-segment label input {
  visibility: hidden;
}

.p-features-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.p-features-link img {
  padding-left: 6px;
  margin-bottom: 0;
}

.p-startup-card {
        margin-top: 2rem;
        margin-bottom: 2rem;
}
.p-startup-card .ant-card-body > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.p-startup-card .ant-card-body > div div {
  display: flex;
  align-items: center;
}

.p-startup-card div img {
  margin-bottom: 0;
}

.p-startup-card div.p-main {
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding-right: 16px;
  padding-left: 16px;
}

.p-startup-card div.p-main span,
.p-startup-card div.p-main h4 {
  text-align: left;
}

.p-comparison-list {
  margin-left: 0;
  margin-top: 16px;
  padding-bottom: 16px;
}

.p-comparison-list li {
  list-style: none;
  line-height: 1.5;
  margin-bottom: 2em;
}

.p-comparison-list li:before {
  content: '';
  display: inline-block;
  height: 14px;
  width: 14px;
  background-image: url('../images/check.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 18px;
}

.p-comparison-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.p-title-with-icon {
  display: flex;
  align-items: center;
}

.p-title-with-icon img {
  margin-bottom: 0;
  padding-right: 8px;
}

.p-faqs .ant-collapse-header {
  font-weight: 500;
}

.p-faqs .ant-collapse {
  background-color: transparent;
}

@media only screen and (max-width: 767px) {
  .p-title {
    font-size: 40px;
  }

  .p-startup-card {
    display: block;
  }

  .p-startup-card div {
    display: block;
  }

  .p-startup-card div.p-main {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .p-startup-card div.p-main span,
  .p-startup-card div.p-main h4 {
    text-align: center;
  }

  .p-comparison-btn {
    margin-bottom: 16px;
  }
}
