.center {
    display: block !important;
    text-align: center !important;
}

.features.table-borders table {
    max-width: 840px;
    border-collapse: separate;
    border-spacing: 10px 15px;
}

.features.table-borders td,
.features.table-borders th {
    border: none !important;
    background-color: grey;
    padding: 10px 0 !important;
    text-align: center;
    color: #ffffff;
}

.features.table-borders th {
    font-size: 24px;
    line-height: 60px;
    height: 140px;
}

.features.table-borders td {
    border-radius: 20px;
    font-size: 16px !important;
    line-height: 40px !important;
    margin: 10px 0 !important;
    min-width: 150px;
}

.features.table-borders td:empty {
    background: none !important;
}

.features.table-borders th:first-child {
    background-color: #f4f6ff;
    border-radius: 20px 0 0 0;
    color: #35416b;
    min-width: 230px;
}

.features.table-borders td:first-child {
    background-color: #f4f6ff !important;
    border-radius: 0;
    color: #35416b;
}

.features.table-borders tr:last-child td:first-child {
    background-color: #f4f6ff !important;
    border-radius: 0 0 0 20px;
}

.features.table-borders th:nth-child(2) {
    background-color: #f96132;
    border-radius: 0;
    color: #ffffff;
}

.features.table-borders td:nth-child(2) {
    background-color: #f96132;
}

.features.table-borders th:nth-child(3) {
    background-color: #6d8aff;
    border-radius: 0;
    color: #ffffff;
}

.features.table-borders td:nth-child(3) {
    background-color: #6d8aff;
}

.features.table-borders th:nth-child(4) {
    background-color: #f7a501;
    border-radius: 0;
    color: #ffffff;
}

.features.table-borders td:nth-child(4) {
    background-color: #f7a501;
}

.features.table-borders th:last-child {
    background-color: #7c4286;
    border-radius: 0 20px 0 0;
    color: #ffffff;
}

.features.table-borders td:last-child {
    background-color: #7c4286;
    border-radius: 20px;
}

.featuresTableText img {
    margin: 0 20px;
    height: 20px;
}

.featuresTableText p {
    margin: 0 !important;
}

@media screen and (max-width: 834px) {
    /*     .table-borders.features table {
        display: none;
    } */
    .features.table-borders table {
        min-width: 300px;
        width: calc(100vw - 20px);
    }
    .features.table-borders th {
        min-width: 50px;
        font-size: 14px;
    }
    .features.table-borders th:first-child {
        min-width: 100px;
        width: 40vw;
        height: 60px;
    }
    .features.table-borders td {
        border-radius: 20px;
        font-size: 16px !important;
        line-height: 40px !important;
        margin: 10px 0 !important;
        min-width: 50px;
    }
    .features.table-borders tr > td:first-child {
        min-width: 100px;
        width: 40vw;
    }
}

/*


.productFeaturesTableRow {
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

table.productFeaturesTable {
    max-width: 187px;
    margin-bottom: 40px;
}

.wrapper.productFeatures {
    border-radius: 0 0 80px 80px;
    width: 100vw;
}

.productFeaturesTable h2 {
    color: #fff;
    margin-bottom: 80px;
}

.productFeaturesTable {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comparisonTableMobile {
    display: none;
}

.comparisonRow {
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 60px;
    display: none;
}

.comparison {
    position: relative;
    height: 52px;
    width: 84px;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comparison p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0 !important;
}

.comparisonSM {
    position: relative;
    height: 52px;
    width: 47px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 19px;
}

.comparisonSM p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0 !important;
}

.posthogComparison {
    background-color: #f96132;
}

.amplitudeComparison {
    background-color: #aabbff;
}

.mixpanelComparison {
    background-color: #6d8aff;
}

.heapComparison {
    background-color: #1d4aff;
}

@media screen and (max-width: 834px) {
    .comparisonRow {
        display: flex;
        flex-direction: row;
    }
    .wrapper.productFeatures {
        border-radius: 0 0 40px 40px;
    }
    .comparisonTableMobile {
        display: initial;
    }
}

.productFeaturesTable th {
    font-size: 16px;
    width: 187px;
    border: none;
    background-color: #f4f6ff;
    color: #35416b;
    border-radius: 6px 6px 0 0;
    text-align: center;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.productFeaturesTable td {
    font-size: 16px;
    color: #fff;
    width: 47px;
    height: 52px;
    border: none;
    text-align: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.productFeaturesTable td:first-child {
    background-color: #f96132;
    border-radius: 0 0 0 6px;
}

.productFeaturesTable td:nth-child(2) {
    background-color: #aabbff;
}

.productFeaturesTable td:nth-child(3) {
    background-color: #6d8aff;
}

.productFeaturesTable td:last-child {
    background-color: #1d4aff;
    border-radius: 0 0 6px 0;
}
.productFeaturesTable td:empty {
    background: none !important;
}

.featuresTableText {
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    margin: 40px 0;
}

@media screen and (max-width: 834px) {
    .productFeaturesTableRow {
        flex-direction: column;
        align-items: center;
    }
}

*/
