.features-table-container {
    border-bottom: 1px solid white;

    .mobile-th,
    .mobile-labels {
        display: none;
    }

    .header-2 {
        color: #ffffff;
        padding-top: 20px;
    }

    .features.table-borders table {
        max-width: 840px;
        border-collapse: separate;
        border-spacing: 10px 15px;
        padding-bottom: 30px;
        margin-bottom: 0px !important;
    }

    .features.table-borders td,
    .features.table-borders th {
        border: none !important;
        background-color: grey;
        padding: 10px 0 !important;
        text-align: center;
        color: #ffffff;
    }

    .features.table-borders th {
        font-size: 24px;
        line-height: 60px;
        height: 140px;
    }

    .features.table-borders td {
        border-radius: 20px;
        font-size: 16px !important;
        line-height: 40px !important;
        margin: 10px 0 !important;
        min-width: 150px;
    }

    .features.table-borders td:empty {
        background: none !important;
    }

    .features.table-borders th:first-child {
        background-color: #f4f6ff;
        border-radius: 20px 0 0 0;
        color: #35416b;
        min-width: 230px;
    }

    .features.table-borders td:first-child {
        background-color: #f4f6ff !important;
        border-radius: 0;
        color: #35416b;
    }

    .features.table-borders tr:last-child td:first-child {
        background-color: #f4f6ff !important;
        border-radius: 0 0 0 20px;
    }

    .features.table-borders th:nth-child(2) {
        background-color: #f96132;
        border-radius: 0;
        color: #ffffff;
    }

    .features.table-borders td:nth-child(2) {
        background-color: #f96132;
    }

    .features.table-borders th:nth-child(3) {
        background-color: #6d8aff;
        border-radius: 0;
        color: #ffffff;
    }

    .features.table-borders td:nth-child(3) {
        background-color: #6d8aff;
    }

    .features.table-borders th:nth-child(4) {
        background-color: #f7a501;
        border-radius: 0;
        color: #ffffff;
    }

    .features.table-borders td:nth-child(4) {
        background-color: #f7a501;
    }

    .features.table-borders th:last-child {
        background-color: #7c4286;
        border-radius: 0 20px 0 0;
        color: #ffffff;
    }

    .features.table-borders td:last-child {
        background-color: #7c4286;
        border-radius: 20px;
    }

    @media screen and (max-width: 834px) {
        /*     .table-borders.features table {
            display: none;
        } */
        .features.table-borders table {
            min-width: 300px;
            width: calc(100vw - 20px);
            border-spacing: 1px;
        }
        .features.table-borders th {
            min-width: 50px;
            font-size: 14px;
        }
        .features.table-borders th:first-child {
            min-width: 100px;
            width: 40vw;
            height: 60px;
        }
        .features.table-borders td {
            border-radius: 20px;
            font-size: 12px !important;
            line-height: 20px !important;
            min-width: 50px;
        }
        .features.table-borders tr > td:first-child {
            min-width: 100px;
            width: 40vw;
        }
        .mobile-th,
        .mobile-labels {
            display: block;
        }
        .desktop-th {
            display: none;
        }
        .features.table-borders td:last-child {
            border-radius: 10px;
        }
        .features.table-borders td {
            border-radius: 10px;
        }
        .header-2 {
            padding: 30px;
        }
        .features.table-borders th {
            height: 50px;
        }
        .mobile-labels > p {
            max-width: 90%;
            font-size: 15px !important;
            color: #eceaea;
        }
    }
}
