.contributors-page-wrapper {
    .ant-layout {
        background-color: #220f3f !important;
    }

    h1, h2 {
        color: #fff;
    }

    .card-elevated {
        background-color: #19082f;
    }

    .progress-bar {
        .ant-progress-inner {
            background: #220f3f;
        }
    }
}