.contributors-page-wrapper {
    .ant-layout {
        background-color: #220f3f !important;
    }

    h1,
    h2 {
        color: #fff;
    }

    h1 {
        line-height: 15px;
        margin-bottom: 30px;
    }

    .card-elevated {
        background-color: #19082f;
    }

    .progress-bar {
        .ant-progress-inner {
            background: #220f3f;
        }
    }

    .ant-tabs-tab:hover,
    .ant-tabs-nav {
        .ant-tabs-tab-btn:active,
        .ant-tabs-tab-active > div:hover,
        .ant-tabs-tab-active > div {
            color: #cca6ff !important;
        }
    }

    .ant-tabs-ink-bar {
        background-color: #cca6ff;
    }

    .ant-tabs-tab {
        color: #b485f1;
    }

    .contributor-search button {
        background: #2c1450;
        color: #cc8ef1 !important;
        border: 1px solid #683f9e;
        border-left: none;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
