/* GENERAL */

// NEW (2021)

.productFeature {
    background: linear-gradient(180deg, #3f086d 0%, #32134e 100%);
    border-radius: 20px;

    .reversed {
        display: flex;
        flex-direction: column-reverse;

        figure {
            margin-top: 3em;
        }
    }
}

.features-grid {
    display: grid;
    grid-template-areas:
        'open-source open-source'
        'event-autocapture dashboards'
        'data-in-out data-in-out'
        'hosting-flexibility hosting-flexibility'
        'data-privacy api';

    .feature-open-source {
        grid-area: open-source;

        // override global height set for all images
        .h-48 {
            height: auto;
        }
    }

    .feature-event-autocapture {
        grid-area: event-autocapture;
    }

    .feature-dashboards {
        grid-area: dashboards;
    }

    .feature-data-in-out {
        grid-area: data-in-out;
    }

    .feature-hosting-flexibility {
        grid-area: hosting-flexibility;
    }

    .feature-data-privacy {
        grid-area: data-privacy;
    }

    .feature-api {
        grid-area: api;
    }
}

// OLD (<2021)

/* - MAIN PAGE + ELEMENTS */

@media screen and (min-width: 1440px) {
    .featuresWrapper {
        padding: 0 calc((100vw - 1440px) / 2);
    }
}

@media screen and (max-width: 834px) {
    h1,
    h2 {
        font-size: 40px !important;
        line-height: 1.2em !important;
    }
    p {
        font-size: 16px !important;
        line-height: 1.5em !important;
    }
}

/* - HEAD */

.head {
    width: 100vw;
    height: 414px;
    margin: 0 0 40px;
    padding: 0 calc((100vw - 1440px) / 2 + 150px);
    background-repeat: no-repeat;
}

.headContents {
    position: relative;
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.headContents p,
.headContents h1,
.headContents h3 {
    color: #ffffff;
}

.headContents h1 {
    font-weight: bold;
}

.headContents p {
    font-size: 24px !important;
    line-height: 40px !important;
}

main > div > div {
    margin: 0 !important;
}

@media screen and (max-width: 834px) {
    .head {
        border-radius: 0;
        width: 100vw;
        height: 640px;
        margin: 0 0 40px;
        display: flex;
        justify-content: center;
        background-position: center 80px !important;
    }
    .headContents {
        margin-left: 0;
        height: 340px;
        width: 60vw;
        align-self: flex-end;
        align-content: center;
        text-align: center;
    }
    .headContents h3 {
        order: 2;
    }
    .headContents p {
        font-size: 16px !important;
        line-height: 32px !important;
    }
}

/* - ROWS */

.featuresRow {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 834px;
    max-width: 1440px;
    height: 480px;
    margin-bottom: 100px;
}

.featuresRow.row01,
.featuresRow.row03 {
    justify-content: flex-start;
}

.featuresRow.row02 {
    justify-content: flex-end;
}

.featuresRow h2 {
    font-family: 'Gosha Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2.number {
    color: #f7a501;
    font-size: 64px;
    margin-top: 4px !important;
    position: relative;
    width: 82px;
    margin: 0 56px;
}

.rowContents {
    position: relative;
    width: 346px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    left: 0;
}

.redLine {
    width: 118px;
    border-width: 8px;
    border-style: solid;
    border-radius: 0px 10px 0px 0px;
    margin: 25px 0;
    background-color: #f96132;
    border-color: #f96132;
}

.rowImg {
    position: absolute;
    height: 700px;
    width: 440px;
    max-width: calc(100vw - 570px);
    background-size: 400px 400px;
    background-repeat: no-repeat;
}

.rowImg.row01,
.rowImg.row03 {
    background-position: left top;
    margin-left: 40px;
    left: 570px;
}

.rowImg.row02 {
    background-position: right top;
    margin-right: 40px;
    right: 530px;
}

.featuresRow.row03 {
    margin-bottom: 0 !important;
}

@media screen and (max-width: 834px) {
    .featuresRow.row01,
    .featuresRow.row02,
    .featuresRow.row03 {
        flex-direction: column;
        height: 800px;
        width: 100vw;
        align-items: center !important;
        justify-content: flex-start;
        text-align: center;
        margin: 100px 0 0;
    }
    .rowContents .redLine {
        align-self: center;
    }
    h2.number {
        font-size: 40px !important;
        line-height: 48px !important;
        position: relative !important;
        order: 1;
        left: 0 !important;
        width: 90vw !important;
        margin: 0 0 40px;
        padding-top: 0 !important;
    }
    .rowImg {
        position: relative !important;
        order: 2;
        left: 0 !important;
        width: 320px !important;
        max-width: 320px;
        height: 320px;
        margin: 0 0 40px !important;
        top: 0;
        background-position: center top !important;
        background-size: 320px 320px;
        background-repeat: no-repeat;
    }
    .rowContents {
        position: relative !important;
        order: 3;
        left: 0 !important;
        width: 100vw !important;
        margin: 0 5vw;
        min-height: 0 !important;
        height: 300px !important;
        padding: 0 10px !important;
    }
}
