/* - FEATURES NAVIGATION */

.featuresWrapper.featuresNav {
    /*     border-radius: 0 0 80px 80px; */
    background-color: #fff;
    width: 100vw;
    max-width: 100vw;
}

.featuresNav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 1440px;
    height: 800px;
    margin-bottom: 40px;
}

.threeFeatures {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 1440px;
}

.threeFeatures a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 18px;
    transition: all 0.3s;
    text-align: center;
    width: 250px;
    height: 340px;
}

.threeFeatures a > h4 {
    font-family: 'Gosha sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 28px;
}

.threeFeatures a > img {
    margin-bottom: 0 !important;
    height: 292px;
    width: 232px;
}

.threeFeatures a:hover {
    box-shadow: 0 0 5px 5px #f0f0f0;
}

@media screen and (max-width: 834px) {
    .featuresNav {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .threeFeatures {
        flex-direction: column;
        align-items: center;
    }
    .threeFeatures a {
        width: 140px;
        height: 280px;
    }
    .threeFeatures img {
        width: 140px;
        height: 180px !important;
    }
}

/* INTERNAL PAGES */

/* GENERAL */

/* - MAIN PAGE + ELEMENTS */
.featuresWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1440px) {
    .featuresWrapper {
        padding: 0 calc((100vw - 1440px) / 2);
    }
}

@media screen and (max-width: 834px) {
    h1,
    h2 {
        font-size: 24px !important;
        line-height: 32px !important;
    }
    p {
        font-size: 16px !important;
        line-height: 32px !important;
    }
}

/* - HEAD */

.head {
    width: 100vw;
    height: 414px;
    margin: 0 0 40px;
    padding: 0 calc((100vw - 1440px) / 2 + 150px);
    background-repeat: no-repeat;
}

.headContents {
    position: relative;
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.headContents p,
.headContents h1,
.headContents h3 {
    color: #ffffff;
}

.headContents h1 {
    font-weight: bold;
}

.headContents p {
    font-size: 24px !important;
    line-height: 40px !important;
}

main > div > div {
    margin: 0 !important;
}

@media screen and (max-width: 834px) {
    .head {
        border-radius: 0;
        width: 100vw;
        height: 640px;
        margin: 0 0 40px;
        display: flex;
        justify-content: center;
        background-position: center 80px !important;
    }
    .headContents {
        margin-left: 0;
        height: 340px;
        width: 60vw;
        align-self: flex-end;
        align-content: center;
        text-align: center;
    }
    .headContents h3 {
        order: 2;
    }
    .headContents p {
        font-size: 16px !important;
        line-height: 32px !important;
    }
}

/* - ROWS */

.featuresRow {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 834px;
    max-width: 1440px;
    height: 480px;
    margin-bottom: 100px;
}

.featuresRow.row01,
.featuresRow.row03 {
    justify-content: flex-start;
}

.featuresRow.row02 {
    justify-content: flex-end;
}

.featuresRow h2 {
    font-family: 'Gosha Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2.number {
    color: #f7a501;
    font-size: 64px;
    margin-top: 4px !important;
    position: relative;
    width: 82px;
    margin: 0 56px;
}

.rowContents {
    position: relative;
    width: 346px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    left: 0;
}

.redLine {
    width: 118px;
    border-width: 8px;
    border-style: solid;
    border-radius: 0px 10px 0px 0px;
    margin: 25px 0;
    background-color: #f96132;
    border-color: #f96132;
}

.rowImg {
    position: absolute;
    height: 700px;
    width: 440px;
    max-width: calc(100vw - 570px);
    background-size: 400px 400px;
    background-repeat: no-repeat;
}

.rowImg.row01,
.rowImg.row03 {
    background-position: left top;
    margin-left: 40px;
    left: 570px;
}

.rowImg.row02 {
    background-position: right top;
    margin-right: 40px;
    right: 530px;
}

.featuresRow.row03 {
    margin-bottom: 0 !important;
}

@media screen and (max-width: 834px) {
    .featuresRow.row01,
    .featuresRow.row02,
    .featuresRow.row03 {
        flex-direction: column;
        height: 800px;
        width: 100vw;
        align-items: center !important;
        justify-content: flex-start;
        text-align: center;
        margin: 100px 0 0;
    }
    .rowContents .redLine {
        align-self: center;
    }
    h2.number {
        font-size: 40px !important;
        line-height: 48px !important;
        position: relative !important;
        order: 1;
        left: 0 !important;
        width: 90vw !important;
        margin: 0 0 40px;
        padding-top: 0 !important;
    }
    .rowImg {
        position: relative !important;
        order: 2;
        left: 0 !important;
        width: 320px !important;
        max-width: 320px;
        height: 320px;
        margin: 0 0 40px !important;
        top: 0;
        background-position: center top !important;
        background-size: 320px 320px;
        background-repeat: no-repeat;
    }
    .rowContents {
        position: relative !important;
        order: 3;
        left: 0 !important;
        width: 100vw !important;
        margin: 0 5vw;
        min-height: 0 !important;
        height: 300px !important;
        padding: 0 10px !important;
    }
}

/* - START NOW BUTTON */

.startNowWrapper {
    position: relative;
    width: 100vw;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    margin-bottom: 40px;
}

.startNowRow {
    position: relative;
    width: 402px;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-end;
    height: 130px;
    padding-left: 0;
    left: calc(36 / 1440 * 100vw);
}

.startNowButton {
    position: relative;
    align-self: center;
    width: 330px;
    height: 64px;
    font-size: 24px;
    background-color: #1d4aff;
    border-color: #1d4aff;
    color: #ffffff;
}

.startNowButton:hover {
    background-color: #fff;
    color: #1d4aff;
    border-color: #1d4aff;
}

.startNowRow img {
    align-self: flex-start;
}

@media screen and (max-width: 834px) {
    .startNowWrapper {
        height: 100px;
    }
    .startNowRow {
        left: calc((20 / 834) * 100vw);
        height: 72px;
        width: 220px;
    }
    .startNowRow img {
        width: 40px;
        height: 40px;
    }
    .startNowButton {
        width: 180px;
        height: 32px;
        font-size: 14px;
    }
}

/* INDIVIDUAL STYLING */

/* - SELF HOSTED */

.head.selfHosted {
    background-image: url('../../images/self-hosted-head.svg') !important;
    background-size: 335px 315px;
    background-repeat: no-repeat;
    background-position: 820px center;
}

.rowImg.row01.selfHosted {
    background-image: url('../../images/self-hosted-1.svg') !important;
}

.rowImg.row02.selfHosted {
    background-image: url('../../images/self-hosted-2.svg') !important;
}

.rowImg.row03.selfHosted {
    background-image: url('../../images/self-hosted-3.svg') !important;
}

@media screen and (max-width: 834px) {
    .head.selfHosted {
        background-size: 260px auto;
    }
    .rowImg.row01.selfHosted {
        background-image: url('../../images/self-hosted-1-mobile.svg') !important;
    }
    .rowImg.row02.selfHosted {
        background-image: url('../../images/self-hosted-2-mobile.svg') !important;
    }
    .rowImg.row03.selfHosted {
        background-image: url('../../images/self-hosted-3-mobile.svg') !important;
    }
}

/* - EVENT AUTOCAPTURE */

.head.eventAutocapture {
    background-image: url('../../images/event-autocapture-head.svg') !important;
    background-size: 500px auto;
    background-position: 800px center;
}

.rowImg.row01.eventAutocapture {
    background-image: url('../../images/event-autocapture-1.svg') !important;
}

.rowImg.row02.eventAutocapture {
    background-image: url('../../images/event-autocapture-2.svg') !important;
}

.rowImg.row03.eventAutocapture {
    background-image: url('../../images/event-autocapture-3.svg') !important;
}

@media screen and (max-width: 834px) {
    .head.eventAutocapture {
        background-size: 300px auto;
        background-position: center 100px !important;
    }
    .rowImg.row01.eventAutocapture {
        background-image: url('../../images/event-autocapture-1-mobile.svg') !important;
    }
    .rowImg.row02.eventAutocapture {
        background-image: url('../../images/event-autocapture-2-mobile.svg') !important;
    }
    .rowImg.row03.eventAutocapture {
        background-image: url('../../images/event-autocapture-3-mobile.svg') !important;
    }
}

/* - TRENDS */

.head.trends {
    background-image: url('../../images/trends-head.svg') !important;
    background-size: 500px calc(500 / 620 * 428px);
    background-position: 800px center;
}

.rowImg.row01.trends {
    background-image: url('../../images/trends-1.svg') !important;
}

.rowImg.row02.trends {
    background-image: url('../../images/trends-2.svg') !important;
}

.rowImg.row03.trends {
    background-image: url('../../images/trends-3.svg') !important;
}

@media screen and (max-width: 834px) {
    .head.trends {
        background-size: 300px auto;
    }
    .rowImg.row01.trends {
        background-image: url('../../images/trends-1-mobile.svg') !important;
    }
    .rowImg.row02.trends {
        background-image: url('../../images/trends-2-mobile.svg') !important;
    }
    .rowImg.row03.trends {
        background-image: url('../../images/trends-3-mobile.svg') !important;
    }
}

/* - FUNNELS */

.head.funnels {
    background-image: url('../../images/funnels-head.svg') !important;
    background-size: 500px auto;
    background-position: 800px center;
}

.rowImg.row01.funnels {
    background-image: url('../../images/trends-1.svg') !important;
}

.rowImg.row02.funnels {
    background-image: url('../../images/trends-2.svg') !important;
}

.rowImg.row03.funnels {
    background-image: url('../../images/trends-3.svg') !important;
}

@media screen and (max-width: 834px) {
    .head.funnels {
        background-size: 300px auto;
    }
    .rowImg.row01.funnels {
        background-image: url('../../images/funnels-1-mobile.svg') !important;
    }
    .rowImg.row02.funnels {
        background-image: url('../../images/funnels-2-mobile.svg') !important;
    }
    .rowImg.row03.funnels {
        background-image: url('../../images/funnels-3-mobile.svg') !important;
    }
}

/* - RETENTION */

.head.retention {
    background-image: url('../../images/retention-head.svg') !important;
    background-size: 500px auto;
    background-position: 800px center;
}

.rowImg.row01.retention {
    background-image: url('../../images/retention-1.svg') !important;
}

.rowImg.row02.retention {
    background-image: url('../../images/retention-2.svg') !important;
}

.rowImg.row03.retention {
    background-image: url('../../images/retention-3.svg') !important;
}

@media screen and (max-width: 834px) {
    .head.retention {
        background-size: 300px auto;
    }
    .rowImg.row01.retention {
        background-image: url('../../images/retention-1-mobile.svg') !important;
    }
    .rowImg.row02.retention {
        background-image: url('../../images/retention-2-mobile.svg') !important;
    }
    .rowImg.row03.retention {
        background-image: url('../../images/retention-3-mobile.svg') !important;
    }
}

/* - FEATURE FLAGS */

.head.featureFlags {
    background-image: url('../../images/feature-flags-head.svg') !important;
    background-size: 500px auto;
    background-position: 800px center;
}

.rowImg.row01.featureFlags {
    background-image: url('../../images/feature-flags-1.svg') !important;
}

.rowImg.row02.featureFlags {
    background-image: url('../../images/feature-flags-2.svg') !important;
}

.rowImg.row03.featureFlags {
    background-image: url('../../images/feature-flags-3.svg') !important;
}

@media screen and (max-width: 834px) {
    .head.featureFlags {
        background-size: 300px auto;
    }
    .rowImg.row01.featureFlags {
        background-image: url('../../images/feature-flags-1-mobile.svg') !important;
    }
    .rowImg.row02.featureFlags {
        background-image: url('../../images/feature-flags-2-mobile.svg') !important;
    }
    .rowImg.row03.featureFlags {
        background-image: url('../../images/feature-flags-3-mobile.svg') !important;
    }
}
