/* FEATURES INDEX */

/* - HEAD */

.productFeaturesHead {
    width: 100vw;
    background-color: #35416b;
    padding: 0 118px;
    margin-bottom: 40px;
    height: 522px;
    display: flex;
    align-items: center;
    background-image: url('../../images/product-features-head.svg');
    background-size: 559px 416px;
    background-position: 700px center;
    background-repeat: no-repeat;
    /*     border-radius: 0 0 80px 80px; */
}

.productFeaturesHeadText {
    width: 500px;
    height: 522px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productFeaturesHeadText h1 {
    color: #fff;
}

.productFeaturesHeadText p {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
}

.productFeaturesHeadTextMobile {
    display: none;
}

@media screen and (min-width: 1440px) {
    .productFeaturesHead {
        background-position: calc((100vw - 1440px) / 2 + 700px) center;
        padding: 0 calc((100vw - 1440px) / 2 + 25px);
    }
}

@media screen and (max-width: 843px) {
    .productFeaturesHead {
        background-image: url('../../images/features-head-mobile.svg');
        background-size: 324px 167px;
        background-position: center 40px;
        width: 100vw;
        height: 262px;
        /* border-radius: 0 0 40px 40px; */
    }
    .productFeaturesHeadText {
        display: none !important;
    }
    .productFeaturesHeadTextMobile h1 {
        font-size: 24px;
        line-height: 32px;
        color: #000;
    }
    .productFeaturesHeadTextMobile p {
        font-size: 16px;
        line-height: 32px;
        color: #000;
    }
    .productFeaturesHeadTextMobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 296px;
        padding: 0 32px;
        margin-bottom: 40px;
    }
}

/* - FEATURES NAVIGATION */

.featuresWrapper.featuresNav {
    /*     border-radius: 0 0 80px 80px; */
    background-color: #fff;
    width: 100vw;
    max-width: 100vw;
}

.featuresNav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 1440px;
    height: 800px;
    margin-bottom: 40px;
}

.threeFeatures {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 1440px;
}

.threeFeatures a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 18px;
    transition: all 0.3s;
    text-align: center;
    width: 250px;
    height: 340px;
}

.threeFeatures a > h4 {
    font-family: 'Gosha sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 28px;
}

.threeFeatures a > img {
    margin-bottom: 0 !important;
    height: 292px;
    width: 232px;
}

.threeFeatures a:hover {
    box-shadow: 0 0 5px 5px #f0f0f0;
}

@media screen and (max-width: 834px) {
    .featuresNav {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .threeFeatures {
        flex-direction: column;
        align-items: center;
    }
    .threeFeatures a {
        width: 140px;
        height: 280px;
    }
    .threeFeatures img {
        width: 140px;
        height: 180px !important;
    }
}

/* - DESKTOP TABLE */

.productFeaturesTable {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features.table-borders table {
    max-width: 840px;
    border-collapse: separate;
    border-spacing: 10px 15px;
}

.features.table-borders td,
.features.table-borders th {
    border: none !important;
    background-color: grey;
    padding: 10px 0 !important;
    text-align: center;
    color: #ffffff;
}

.features.table-borders th {
    font-size: 24px;
    line-height: 60px;
    height: 140px;
}

.features.table-borders td {
    border-radius: 20px;
    font-size: 16px !important;
    line-height: 40px !important;
    margin: 10px 0 !important;
    min-width: 150px;
}

.features.table-borders td:empty {
    background: none !important;
}

.features.table-borders th:first-child {
    background-color: #f4f6ff;
    border-radius: 20px 0 0 0;
    color: #35416b;
    min-width: 230px;
}

.features.table-borders td:first-child {
    background-color: #f4f6ff !important;
    border-radius: 0;
    color: #35416b;
}

.features.table-borders tr:last-child td:first-child {
    background-color: #f4f6ff !important;
    border-radius: 0 0 0 20px;
}

.features.table-borders th:nth-child(2) {
    background-color: #f96132;
    border-radius: 0;
    color: #ffffff;
}

.features.table-borders td:nth-child(2) {
    background-color: #f96132;
}

.features.table-borders th:nth-child(3) {
    background-color: #6d8aff;
    border-radius: 0;
    color: #ffffff;
}

.features.table-borders td:nth-child(3) {
    background-color: #6d8aff;
}

.features.table-borders th:nth-child(4) {
    background-color: #f7a501;
    border-radius: 0;
    color: #ffffff;
}

.features.table-borders td:nth-child(4) {
    background-color: #f7a501;
}

.features.table-borders th:last-child {
    background-color: #7c4286;
    border-radius: 0 20px 0 0;
    color: #ffffff;
}

.features.table-borders td:last-child {
    background-color: #7c4286;
    border-radius: 20px;
}

.featuresTableText {
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    margin: 40px 0;
}

.featuresTableText img {
    margin: 0 20px;
    height: 20px;
}

.featuresTableText p {
    margin: 0 !important;
}

@media screen and (max-width: 834px) {
    .table-borders.features table {
        display: none;
    }
    .features.table-borders table {
        min-width: 300px;
        width: calc(100vw - 20px);
    }
    .features.table-borders th {
        min-width: 50px;
        font-size: 14px;
    }
    .features.table-borders th:first-child {
        min-width: 100px;
        width: 40vw;
        height: 60px;
    }
    .features.table-borders td {
        border-radius: 20px;
        font-size: 16px !important;
        line-height: 40px !important;
        margin: 10px 0 !important;
        min-width: 50px;
    }
    .features.table-borders tr > td:first-child {
        min-width: 100px;
        width: 40vw;
    }
}

/* - MOBILE TABLE */

.features-wrapper {
    margin-top: 0 !important; /* delete this comment after we fix index.css loading issue */
}

.wrapper.productFeatures {
    border-radius: 0 0 80px 80px;
    width: 100vw;
}

.productFeaturesTable h2 {
    color: #fff;
    margin-bottom: 80px;
}

.comparisonTableMobile {
    display: none;
}

.comparisonRow {
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 60px;
    display: none;
}

.comparison {
    position: relative;
    height: 52px;
    width: 84px;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comparison p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0 !important;
}

.comparisonSM {
    position: relative;
    height: 52px;
    width: 47px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 19px;
}

.comparisonSM p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0 !important;
}

.posthogComparison {
    background-color: #f96132;
}

.amplitudeComparison {
    background-color: #aabbff;
}

.mixpanelComparison {
    background-color: #6d8aff;
}

.heapComparison {
    background-color: #1d4aff;
}

@media screen and (max-width: 834px) {
    .comparisonRow {
        display: flex;
        flex-direction: row;
    }
    .wrapper.productFeatures {
        border-radius: 0 0 40px 40px;
    }
    .comparisonTableMobile {
        display: initial;
    }
}

.productFeaturesTableRow {
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

table.productFeaturesTable {
    max-width: 187px;
    margin-bottom: 40px;
}

.productFeaturesTable th {
    font-size: 16px;
    width: 187px;
    border: none;
    background-color: #f4f6ff;
    color: #35416b;
    border-radius: 6px 6px 0 0;
    text-align: center;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.productFeaturesTable td {
    font-size: 16px;
    color: #fff;
    width: 47px;
    height: 52px;
    border: none;
    text-align: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.productFeaturesTable td:first-child {
    background-color: #f96132;
    border-radius: 0 0 0 6px;
}

.productFeaturesTable td:nth-child(2) {
    background-color: #aabbff;
}

.productFeaturesTable td:nth-child(3) {
    background-color: #6d8aff;
}

.productFeaturesTable td:last-child {
    background-color: #1d4aff;
    border-radius: 0 0 6px 0;
}
.productFeaturesTable td:empty {
    background: none !important;
}

@media screen and (max-width: 834px) {
    .productFeaturesTableRow {
        flex-direction: column;
        align-items: center;
    }
}

/* INTERNAL PAGES */

/* GENERAL */

/* - MAIN PAGE + ELEMENTS */
.featuresWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1440px) {
    .featuresWrapper {
        padding: 0 calc((100vw - 1440px) / 2);
    }
}

@media screen and (max-width: 834px) {
    h1,
    h2 {
        font-size: 24px !important;
        line-height: 32px !important;
    }
    p {
        font-size: 16px !important;
        line-height: 32px !important;
    }
}

/* - HEAD */

.head {
    width: 100vw;
    height: 414px;
    margin: 0 0 40px;
    padding: 0 calc((100vw - 1440px) / 2 + 150px);
    background-repeat: no-repeat;
}

.headContents {
    position: relative;
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.headContents p,
.headContents h1,
.headContents h3 {
    color: #ffffff;
}

.headContents h1 {
    font-weight: bold;
}

.headContents p {
    font-size: 24px !important;
    line-height: 40px !important;
}

main > div > div {
    margin: 0 !important;
}

@media screen and (max-width: 834px) {
    .head {
        border-radius: 0;
        width: 100vw;
        height: 640px;
        margin: 0 0 40px;
        display: flex;
        justify-content: center;
        background-position: center 80px !important;
    }
    .headContents {
        margin-left: 0;
        height: 340px;
        width: 60vw;
        align-self: flex-end;
        align-content: center;
        text-align: center;
    }
    .headContents h3 {
        order: 2;
    }
    .headContents p {
        font-size: 16px !important;
        line-height: 32px !important;
    }
}

/* - ROWS */

.featuresRow {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 834px;
    max-width: 1440px;
    height: 480px;
    margin-bottom: 100px;
}

.featuresRow.row01,
.featuresRow.row03 {
    justify-content: flex-start;
}

.featuresRow.row02 {
    justify-content: flex-end;
}

.featuresRow h2 {
    font-family: 'Gosha Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2.number {
    color: #f7a501;
    font-size: 64px;
    margin-top: 4px !important;
    position: relative;
    width: 82px;
    margin: 0 56px;
}

.rowContents {
    position: relative;
    width: 346px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    left: 0;
}

.redLine {
    width: 118px;
    border-width: 8px;
    border-style: solid;
    border-radius: 0px 10px 0px 0px;
    margin: 25px 0;
    background-color: #f96132;
    border-color: #f96132;
}

.rowImg {
    position: absolute;
    height: 700px;
    width: 440px;
    max-width: calc(100vw - 570px);
    background-size: 400px 400px;
    background-repeat: no-repeat;
}

.rowImg.row01,
.rowImg.row03 {
    background-position: left top;
    margin-left: 40px;
    left: 570px;
}

.rowImg.row02 {
    background-position: right top;
    margin-right: 40px;
    right: 530px;
}

.featuresRow.row03 {
    margin-bottom: 0 !important;
}

@media screen and (max-width: 834px) {
    .featuresRow.row01,
    .featuresRow.row02,
    .featuresRow.row03 {
        flex-direction: column;
        height: 800px;
        width: 100vw;
        align-items: center !important;
        justify-content: flex-start;
        text-align: center;
        margin: 100px 0 0;
    }
    .rowContents .redLine {
        align-self: center;
    }
    h2.number {
        font-size: 40px !important;
        line-height: 48px !important;
        position: relative !important;
        order: 1;
        left: 0 !important;
        width: 90vw !important;
        margin: 0 0 40px;
        padding-top: 0 !important;
    }
    .rowImg {
        position: relative !important;
        order: 2;
        left: 0 !important;
        width: 320px !important;
        max-width: 320px;
        height: 320px;
        margin: 0 0 40px !important;
        top: 0;
        background-position: center top !important;
        background-size: 320px 320px;
        background-repeat: no-repeat;
    }
    .rowContents {
        position: relative !important;
        order: 3;
        left: 0 !important;
        width: 100vw !important;
        margin: 0 5vw;
        min-height: 0 !important;
        height: 300px !important;
        padding: 0 10px !important;
    }
}

/* - START NOW BUTTON */

.startNowWrapper {
    position: relative;
    width: 100vw;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    margin-bottom: 40px;
}

.startNowRow {
    position: relative;
    width: 402px;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-end;
    height: 130px;
    padding-left: 0;
    left: calc(36 / 1440 * 100vw);
}

.startNowButton {
    position: relative;
    align-self: center;
    width: 330px;
    height: 64px;
    font-size: 24px;
    background-color: #1d4aff;
    border-color: #1d4aff;
    color: #ffffff;
}

.startNowButton:hover {
    background-color: #fff;
    color: #1d4aff;
    border-color: #1d4aff;
}

.startNowRow img {
    align-self: flex-start;
}

@media screen and (max-width: 834px) {
    .startNowWrapper {
        height: 100px;
    }
    .startNowRow {
        left: calc((20 / 834) * 100vw);
        height: 72px;
        width: 220px;
    }
    .startNowRow img {
        width: 40px;
        height: 40px;
    }
    .startNowButton {
        width: 180px;
        height: 32px;
        font-size: 14px;
    }
}

/* INDIVIDUAL STYLING */

/* - SELF HOSTED */

.head.selfHosted {
    background-image: url('../../images/self-hosted-head.svg') !important;
    background-size: 335px 315px;
    background-repeat: no-repeat;
    background-position: 820px center;
}

.rowImg.row01.selfHosted {
    background-image: url('../../images/self-hosted-1.svg') !important;
}

.rowImg.row02.selfHosted {
    background-image: url('../../images/self-hosted-2.svg') !important;
}

.rowImg.row03.selfHosted {
    background-image: url('../../images/self-hosted-3.svg') !important;
}

@media screen and (max-width: 834px) {
    .head.selfHosted {
        background-size: 260px auto;
    }
    .rowImg.row01.selfHosted {
        background-image: url('../../images/self-hosted-1-mobile.svg') !important;
    }
    .rowImg.row02.selfHosted {
        background-image: url('../../images/self-hosted-2-mobile.svg') !important;
    }
    .rowImg.row03.selfHosted {
        background-image: url('../../images/self-hosted-3-mobile.svg') !important;
    }
}

/* - EVENT AUTOCAPTURE */

.head.eventAutocapture {
    background-image: url('../../images/event-autocapture-head.svg') !important;
    background-size: 500px auto;
    background-position: 800px center;
}

.rowImg.row01.eventAutocapture {
    background-image: url('../../images/event-autocapture-1.svg') !important;
}

.rowImg.row02.eventAutocapture {
    background-image: url('../../images/event-autocapture-2.svg') !important;
}

.rowImg.row03.eventAutocapture {
    background-image: url('../../images/event-autocapture-3.svg') !important;
}

@media screen and (max-width: 834px) {
    .head.eventAutocapture {
        background-size: 300px auto;
        background-position: center 100px !important;
    }
    .rowImg.row01.eventAutocapture {
        background-image: url('../../images/event-autocapture-1-mobile.svg') !important;
    }
    .rowImg.row02.eventAutocapture {
        background-image: url('../../images/event-autocapture-2-mobile.svg') !important;
    }
    .rowImg.row03.eventAutocapture {
        background-image: url('../../images/event-autocapture-3-mobile.svg') !important;
    }
}

/* - TRENDS */

.head.trends {
    background-image: url('../../images/trends-head.svg') !important;
    background-size: 500px calc(500 / 620 * 428px);
    background-position: 800px center;
}

.rowImg.row01.trends {
    background-image: url('../../images/trends-1.svg') !important;
}

.rowImg.row02.trends {
    background-image: url('../../images/trends-2.svg') !important;
}

.rowImg.row03.trends {
    background-image: url('../../images/trends-3.svg') !important;
}

@media screen and (max-width: 834px) {
    .head.trends {
        background-size: 300px auto;
    }
    .rowImg.row01.trends {
        background-image: url('../../images/trends-1-mobile.svg') !important;
    }
    .rowImg.row02.trends {
        background-image: url('../../images/trends-2-mobile.svg') !important;
    }
    .rowImg.row03.trends {
        background-image: url('../../images/trends-3-mobile.svg') !important;
    }
}

/* - FUNNELS */

.head.funnels {
    background-image: url('../../images/funnels-head.svg') !important;
    background-size: 500px auto;
    background-position: 800px center;
}

.rowImg.row01.funnels {
    background-image: url('../../images/trends-1.svg') !important;
}

.rowImg.row02.funnels {
    background-image: url('../../images/trends-2.svg') !important;
}

.rowImg.row03.funnels {
    background-image: url('../../images/trends-3.svg') !important;
}

@media screen and (max-width: 834px) {
    .head.funnels {
        background-size: 300px auto;
    }
    .rowImg.row01.funnels {
        background-image: url('../../images/funnels-1-mobile.svg') !important;
    }
    .rowImg.row02.funnels {
        background-image: url('../../images/funnels-2-mobile.svg') !important;
    }
    .rowImg.row03.funnels {
        background-image: url('../../images/funnels-3-mobile.svg') !important;
    }
}

/* - RETENTION */

.head.retention {
    background-image: url('../../images/retention-head.svg') !important;
    background-size: 500px auto;
    background-position: 800px center;
}

.rowImg.row01.retention {
    background-image: url('../../images/retention-1.svg') !important;
}

.rowImg.row02.retention {
    background-image: url('../../images/retention-2.svg') !important;
}

.rowImg.row03.retention {
    background-image: url('../../images/retention-3.svg') !important;
}

@media screen and (max-width: 834px) {
    .head.retention {
        background-size: 300px auto;
    }
    .rowImg.row01.retention {
        background-image: url('../../images/retention-1-mobile.svg') !important;
    }
    .rowImg.row02.retention {
        background-image: url('../../images/retention-2-mobile.svg') !important;
    }
    .rowImg.row03.retention {
        background-image: url('../../images/retention-3-mobile.svg') !important;
    }
}

/* - FEATURE FLAGS */

.head.featureFlags {
    background-image: url('../../images/feature-flags-head.svg') !important;
    background-size: 500px auto;
    background-position: 800px center;
}

.rowImg.row01.featureFlags {
    background-image: url('../../images/feature-flags-1.svg') !important;
}

.rowImg.row02.featureFlags {
    background-image: url('../../images/feature-flags-2.svg') !important;
}

.rowImg.row03.featureFlags {
    background-image: url('../../images/feature-flags-3.svg') !important;
}

@media screen and (max-width: 834px) {
    .head.featureFlags {
        background-size: 300px auto;
    }
    .rowImg.row01.featureFlags {
        background-image: url('../../images/feature-flags-1-mobile.svg') !important;
    }
    .rowImg.row02.featureFlags {
        background-image: url('../../images/feature-flags-2-mobile.svg') !important;
    }
    .rowImg.row03.featureFlags {
        background-image: url('../../images/feature-flags-3-mobile.svg') !important;
    }
}
