@import 'src/vars';

:root {
    --primary: #{$primary};
    --success: #{$success};
    --danger: #{$danger};
    --warning: #{$warning};
    --bg-menu: #{$bg_menu};
    --bg-mid: #{$bg_mid};
    --text-default: #{$text_default};
    --muted: #{$text_muted};
}

.homepage {
    @font-face {
        font-family: 'Gosha Sans';
        src: url('/GoshaSans-Regular.ttf') format('truetype');
        font-display: swap;
    }

    .indexPage h1,
    .indexPage h2 {
        border-bottom: none;
    }

    > header {
        background: linear-gradient(180deg, #200c39 0%, #220f3f 100%);
    }

    header a {
        color: #fff !important;
    }

    #logo-image {
        content: url('../../images/posthog-logo-white.svg');
    }

    body {
        overflow-x: hidden;
    }

    main {
        margin-top: 0 !important;
    }

    .wrapper {
        margin: 100px 0 0;
    }

    .row {
        background: none;
        margin: 0;
        padding: 0;
        position: relative;
        max-width: 1440px;
    }

    @media screen and (min-width: 1440px) {
        .wrapper {
            padding: 0 calc((100vw - 1440) / 2);
        }
        .row {
            width: 1440px;
            margin: 0 calc((100vw - 1440px) / 2);
            z-index: 100;
        }
    }

    @media screen and (max-width: 834px) {
        .wrapper {
            margin: 40px 0 0;
        }
        .row {
            padding: 0 10vw;
        }
        .number {
            width: 52px;
        }
    }

    h1 {
        font-size: 56px;
        line-height: 60px;
    }
    h2 {
        font-size: 40px;
        line-height: normal;
    }

    h3 {
        font-size: 24px;
        line-height: normal;
    }
    p {
        font-size: 16px;
        line-height: 32px;
        color: #000000;
    }

    @media screen and (max-width: 834px) {
        h1 {
            font-size: 24px;
            line-height: 40px;
        }
        h2 {
            font-size: 16px;
            line-height: 20px;
        }
        h2.gosha {
            font-size: 24px;
            line-height: 40px;
        }
        h3 {
            font-size: 14px;
            line-height: 20px;
        }
        h4 {
            font-size: 12px;
            line-height: 20px;
        }
        p {
            font-size: 16px;
            line-height: 32px;
        }
        body {
            overflow-x: hidden;
        }
    }

    .topPageWrapper {
        background: linear-gradient(180deg, #220f3f 0%, #2c1e60 100%);
        top: 0;
        margin-top: 0;
    }

    .pageHeader {
        position: relative;
        text-align: center;
        max-width: 1440px;
        padding: 40px calc(1 / 8 * 100vw) 0;
        justify-content: center;
    }

    .pageHeader h1 {
        color: #fff;
    }

    @media screen and (min-width: 834px) {
        .pageHeader h1 {
            font-size: 48px;
        }
    }

    .topPageRow {
        max-width: 1440px;
        position: relative;
        width: 100vw;
        height: 426px;
        display: flex;
        flex-direction: row;
    }

    .joinUsersText {
        position: relative;
        width: 330px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .joinUsersText p {
        color: #fff;
    }

    .joinUsersButtons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 310px;
        padding: 0;
        left: -20px;
    }

    .landing-page-final-cta {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        width: 310px;
        padding: 0;
    }

    @media screen and (max-width: 834px) {
        .topSectionWrapperMobile {
            background-color: #35416b;
        }

        .pageHeader {
            margin: 0 calc(1 / 12 * 100vw);
            padding: 40px 0 0;
        }
        .topPageRow {
            position: relative;
            height: 120px;
            max-width: 100vw;
            margin: 40px 0 0;
        }
        .joinUsersText {
            text-align: center;
            width: 70vw;
        }
        .joinUsersText p {
            width: 70vw;
            font-size: 16px;
            line-height: 32px;
        }
        .joinUsersButtons button {
            font-size: 12px;
            line-height: 16px;
            height: 32px;
            text-align: center;
        }
        .joinUsersButtons {
            height: 40px;
            justify-content: space-evenly;
            left: 0px;
        }
        .topPageCol2 {
            background: none;
            display: none;
        }
    }

    .ant-btn-secondary {
        border: none;
        background-color: #fff;
        border: solid;
        border-color: #fff;
        border-radius: 2px;
        color: #222d5b;
        border-width: 1px;
    }

    .ant-btn-secondary:hover {
        background-color: #222d5b !important;
        color: #fff !important;
        border-color: #fff !important;
        border: solid 1px !important;
    }

    .ant-btn-secondary:focus {
        background-color: #fff !important;
        color: #222d5b !important;
        border-color: #222d5b !important;
    }

    .ant-btn-primary:hover {
        background-color: #fff !important;
        color: #222d5b !important;
        border-color: #222d5b !important;
    }

    .ant-btn-primary:focus {
        background-color: #222d5b !important;
        color: #fff !important;
        border-color: #fff !important;
        border: solid 1px !important;
    }

    .ant-btn-primary {
        background-color: #222d5b;
        border-color: #fff;
        border-radius: 2px;
        color: #fff;
    }

    .getStarted {
        display: flex;
        flex-direction: row;
        padding: 8px;
        position: relative;
        top: 0px;
        text-align: center;
    }

    .getStarted:hover {
        background-color: #7f9be9;
        border: none;
    }

    .scheduleDemo {
        display: flex;
        flex-direction: row;
        padding: 8px;

        position: relative;
        top: 0px;
        margin: 24px 0;
        align-self: center;
        text-align: center;
    }

    .scheduleDemo:hover {
        border-color: none;
        background-color: #a0a0a0;
        color: #ffffff;
    }

    @media screen and (max-width: 834px) {
        .getStarted {
            position: relative;
            margin: 10% 0;
        }
        .scheduleDemo {
            position: relative;
            left: 0;
            margin: 10% 0;
        }
        .ant-btn-primary {
            font-size: 12px;
            text-align: center;
        }
        .ant-btn-secondary {
            font-size: 12px;
            text-align: center;
        }
        i.anticon.anticon-right-circle {
            display: none;
        }
    }

    .fs-self-host-wrapper {
        padding-top: 70px;
        background-color: rgba(247, 165, 1, 0.2) !important;
    }

    @media screen and (min-width: 1440px) {
        .trafficImg {
            left: calc(720px);
            width: calc(720px + ((100vw - 1440px) / 2));
        }
        .traffic02 {
            left: calc(3 / 24 * 1440px);
            width: calc(1 / 12 * 1440px);
        }
        .trafficCol {
            width: 720px;
            left: calc(5 / 24 * 1440px);
        }
        .trafficParagraph {
            width: calc(1 / 5 * 1440px);
        }
    }

    @media screen and (max-width: 834px) {
        .trafficVisualWrapper {
            height: 1307px;
            margin-top: -75px;
        }
        .trafficRow {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 683px;
        }
        .trafficImg {
            background-image: url('../../images/traffic-background-mobile.svg') !important;
            background-repeat: no-repeat;
            background-size: 541px 265px;
            background-position: calc((100vw - 834px) / 2 + 230px) top;
            position: relative;
            height: 265px;
            width: 100vw;
            order: 1;
            left: 0;
            top: 0;
            margin-bottom: 40px;
        }
        .traffic02 {
            position: relative;
            order: 2;
            left: 0;
            width: 70vw;
            text-align: center;
        }
        .trafficCol {
            position: relative;
            order: 3;
            left: 0;
            width: 282px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 294px;
        }
        .trafficParagraph {
            text-align: center;
            width: 282px;
        }
    }

    @media screen and (max-width: 834px) {
        .joinUsersButtons {
            left: 0px;
        }
    }

    @media screen and (min-width: 834px) and (max-width: 1076px) {
        .joinUsersButtons {
            left: 0px;
        }
    }

    @media screen and (max-width: 1076px) {
        #logo-image {
            margin-top: 10%;
            margin-left: 1%;
        }
    }

    @media screen and (min-width: 1080px) and (max-width: 1440px) {
        .fs-feature-flags-wrapper {
            padding-top: 70px;
            background-image: url('../../images/landing-page-background.svg') !important;
        }
        .fs-self-host-wrapper .fs-header-2 {
            max-width: 30vw !important;
            width: 30vw !important;
        }
    }

    @media screen and (max-width: 1080px) {
        .landing-page-final-cta {
            margin: auto;
        }
    }

    @media screen and (max-width: 834px) {
        .featureFlagsWrapper {
            background-image: none !important;
            height: auto;
        }
        .featureFlagsRow {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100vw;
            height: 698px;
            top: 0;
        }
        .featureFlagsImg {
            background-repeat: no-repeat;
            background-size: 396px 301px;
            background-position: calc((100vw - 834px) / 2 + 267px) top;
            position: relative;
            height: 396px;
            width: 100vw;
            max-width: none;
            order: 1;
            left: 0;
            top: 0;
        }
        .featureFlags05 {
            position: relative;
            order: 2;
            left: 0;
            width: 80vw;
            text-align: center;
            top: 0;
        }
        .featureFlagsCol {
            position: relative;
            order: 3;
            left: 0;
            width: 282px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 332px;
        }
    }

    /* DESIGNED FOR YOUR STACK */

    .designed4StackWrapper {
        position: relative;
        width: 100vw;
        height: 800px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .designed4StackRow {
        position: relative;
        justify-content: center;
    }

    .yourStackWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .yourStackLogosRow {
        position: relative;
        max-width: 666px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
    }

    .yourStackLogos {
        position: relative;
        width: 116px;
    }

    .yourStackShelfRow {
        width: 620px;
        align-self: center;
        margin: 0;
    }

    .yourStackLogos img {
        margin: 0;
    }

    .yourStackLogos img:hover {
        opacity: 0.7;
    }

    .shelf {
        position: relative;
        width: 720px;
    }

    .yourStack img:hover {
        opacity: 0.7;
    }

    @media screen and (max-width: 834px) {
        .designed4StackWrapper {
            margin-top: 72px;
            align-items: center;
            justify-content: space-between;
            height: 552px;
        }
        .designed4StackRow h2 {
            font-size: 24px;
            line-height: 40px;
        }
        .yourStackWrapper {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: space-between;
            height: 470px;
            width: 320px;
        }
        .yourStackLogosRow {
            width: 82px;
            padding: 0;
            flex-direction: column;
            justify-content: space-between;
            height: 470px;
        }
        .yourStackLogos img {
            height: 82px;
            width: 82px;
        }
        .yourStackLogos {
            width: 82px;
        }
        .yourStackShelfRow {
            display: none;
        }
    }

    /* WHY POSTHOG */

    .whyPosthogWrapper {
        position: relative;
    }

    .whyPosthogRow {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .whyPosthogElementsWrapper {
        margin-top: 54px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 808px;
    }

    .whyPosthogElement {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #35416b;
        width: 392px;
        padding: 41px 0;
        border-radius: 30px;
    }

    .whyPosthogElement h2 {
        color: #ffffff !important;
        font-size: 32px !important;
    }

    .whyPosthogElement p {
        color: #ffffff !important;
    }

    .whyPosthogElementBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    .startTrialRow {
        margin-top: 45px;
        position: relative;
        width: 402px;
        max-width: 1440px;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        align-items: flex-end;
        height: 130px;
        padding-left: 0;
        left: calc(36 / 1440 * 100vw);
    }

    .startTrialButton {
        position: relative;
        align-self: center;
        height: 64px;
        font-size: 24px;
    }

    .startTrialRow img {
        align-self: flex-start;
    }

    @media screen and (min-width: 1440px) {
        .startTrialRow {
            left: 36px;
        }
    }

    @media screen and (max-width: 834px) {
        .whyPosthogElementsWrapper {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100vw;
        }
        .whyPosthogElement {
            width: 310px;
            margin-top: 12px;
            justify-content: space-between;
            align-items: space-between;
        }
        .whyPosthogElementBody {
            position: relative;
            top: 0;
            width: 274px;
            margin-bottom: 15px;
        }
        .whyPosthogElement h2 {
            position: relative;
            font-size: 24px;
            line-height: 32px;
            width: 205px;
        }
        .startTrialRow {
            left: calc(20 / 834 * 100vw);
            height: 72px;
            width: 220px;
        }
        .startTrialRow img {
            width: 40px;
            height: 40px;
        }
        .startTrialButton {
            height: 32px;
            font-size: 14px;
        }
    }

    /* BUILDING IS EXPENSIVE QUOTE */

    .buildingIsExpensiveWrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        height: 387px;
        color: #ffffff;
    }

    .buildingIsExpensiveRow {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 1440px;
    }

    .buildingIsExpensiveText1 {
        left: calc(1 / 12 * 100vw);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .buildingIsExpensiveText {
        position: relative;
        padding-top: 81px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        max-width: 720px;
    }

    .buildingIsExpensiveText1 h1 {
        line-height: 60px;
        font-size: 56px !important;
        font-family: 'Gosha Sans', Arial, Helvetica, sans-serif !important;
        color: #ffffff;
    }

    .buildingIsExpensiveText2 {
        width: 50vw;
    }

    .buildingIsExpensiveText2 h1 {
        display: inline;
        line-height: 60px;
        font-size: 56px !important;
        font-family: 'Gosha Sans', Arial, Helvetica, sans-serif !important;
        color: #ffffff;
    }

    .buildingIsExpensiveText2 h2 {
        display: inline;
        line-height: 60px;
        font-size: 40px !important;
        font-family: 'Gosha Sans', Arial, Helvetica, sans-serif !important;
        color: #ffffff;
    }

    .buildingIsExpensiveHiddenWrapper {
        display: none;
    }

    .coolHedgehog {
        position: relative;
        align-self: flex-end;
    }

    .coolHedgehog img {
        margin: 0 !important;
    }

    @media screen and (max-width: 834px) {
        .buildingIsExpensiveText {
            display: none;
        }
        .coolHedgehog {
            width: 260px;
            height: auto;
        }
        .buildingIsExpensiveHiddenWrapper {
            margin-top: 66px;
            display: flex;
            justify-content: center;
        }
        .buildingIsExpensiveHidden {
            text-align: center;
            width: 288px;
        }
        .buildingIsExpensiveHidden h2 {
            display: inline;
            line-height: 48px !important;
            font-size: 32px !important;
            font-weight: bold !important;
            font-family: 'Gosha Sans', Arial, Helvetica, sans-serif !important;
            color: #000000;
        }
    }

    /* POSTHOG FOR ENTERPRISE */

    .posthog4EnterpriseWrapper {
        width: 100vw;
        height: 590px;
    }

    .posthog4Enterprise {
        top: 20px;
    }

    .posthog4Enterprise img {
        position: relative;
        width: calc(1 / 3 * 75vw);
        height: calc(1 / 3 * 75vw);
        max-width: 300px;
        max-height: 300px;
    }

    .enterpriseHeader {
        height: 90px;
        margin-bottom: 0.5rem;
    }

    @media screen and (max-width: 768px) {
        .posthog4Enterprise h4 {
            margin: 0 0 0 calc(18 / 113 * (1 / 3 * 100vw));
        }
        .posthog4Enterprise p {
            margin: 0 3vw 0 calc(18 / 113 * (1 / 3 * 100vw));
            font-size: 10px;
        }
        .posthog4Enterprise img {
            width: calc(1 / 3 * 100vw);
            height: calc(1 / 3 * 100vw);
            max-width: 300px;
            max-height: 300px;
        }
        .posthog4EnterpriseWrapper {
            height: auto;
        }
        .enterpriseHeader {
            height: auto;
        }
    }

    /* POSTHOG FOR ENTERPRISE */
    .posthog4EnterpriseWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 754px;
    }

    .posthog4EnterpriseRow1 {
        position: relative;
        width: 100vw;
        text-align: center;
    }

    .posthog4EnterpriseRow2 {
        margin-top: 50px;
        position: relative;
        width: 100vw;
        max-width: 1440px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .posthog4EnterpriseRow2Col {
        width: 260px;
        height: 580px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .posthog4EnterpriseRow2Col img {
        width: 250px;
        height: 290px;
        padding: 0;
        margin: 0;
    }

    .enterpriseText {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        height: 154px;
    }

    @media screen and (max-width: 834px) {
        .posthog4EnterpriseWrapper {
            margin-top: 60px;
            height: auto;
        }
        .posthog4EnterpriseRow1 h2 {
            font-size: 40px;
            line-height: 48px;
        }
        .posthog4EnterpriseRow2 {
            margin-top: 40px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 1696px;
        }
        .posthog4EnterpriseRow2Col {
            height: 543px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .posthog4EnterpriseRow2Col h4 {
            font-size: 16px;
            line-height: 20px;
        }
        .posthog4EnterpriseRow2Col p {
            font-size: 16px;
            line-height: 32px;
        }
    }

    /* INSTALL NOW FREE */

    .installNowWrapper {
        margin-top: 160px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .installNowRow1 {
        position: relative;
        width: 100vw;
        text-align: center;
    }

    .installNowRow2 {
        position: relative;
        width: 1048px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .installNowRow2Col {
        position: relative;
        width: 158px;
        height: 158px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .installNowRow2Col img {
        padding: 0;
        margin: 0;
    }

    .installNowRow2Col img:hover {
        opacity: 0.7;
    }

    .installNowShelf {
        position: relative;
        background-image: url('../../images/shelf-5.svg') !important;
        background-size: 1048px calc(88 / 768 * 1048px);
        background-position: center top;
        background-repeat: no-repeat;
        width: 1048px;
        height: calc(88 / 768 * 1048px);
    }

    @media screen and (max-width: 834px) {
        .installNowRow2,
        .installNowShelf {
            max-width: 382px;
            background-size: 382px 44px;
            width: 100vw;
            height: 44px;
            padding: 0;
        }
        .installNowRow2 {
            height: 64px;
        }
        .installNowRow2Col {
            height: 64px;
        }
        .installNowRow2Col img {
            max-width: 48px;
            max-height: 48px;
        }
    }

    /* JOIN COMMUNITY */

    .joinCommunityWrapper {
        position: relative;
        background-repeat: no-repeat;
        background-position: center top;
        width: auto;
        height: 577px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .joinCommunityRow1 h2 {
        text-align: center;
    }

    .joinCommunity a {
        width: 100px;
        overflow: hidden;
    }

    .joinCommunityRow2 {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        max-width: 1440px;
    }

    .joinCommunityRow2 img {
        height: 210px;
        width: auto;
        margin: 0;
        margin-bottom: 37px;
    }

    .roadmap img {
        margin: 0;
    }

    .github {
        background-color: #35416b;
        position: relative;
        height: 410px;
        width: 340px;
        border-radius: 78px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slack {
        background-color: #f96132;
        position: relative;
        height: 410px;
        width: 340px;
        border-radius: 78px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .roadmap {
        background-color: #f7a501;
        position: relative;
        height: 410px;
        width: 340px;
        border-radius: 78px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .roadmap p {
        color: white;
        margin: 0;
    }

    .github:hover,
    .slack:hover,
    .roadmap:hover {
        opacity: 0.7;
    }

    @media screen and (max-width: 834px) {
        .joinCommunityWrapper {
            height: 231px;
            justify-content: space-evenly;
        }
        .joinCommunityRow2 img {
            height: 70px;
            width: auto;
        }
        .github,
        .slack,
        .roadmap {
            height: 146px;
            width: 106px;
            border-radius: 28px;
        }
        .roadmap p {
            font-size: 5.6px;
        }
    }

    /* WHAT'S NEW */

    .whatsNewWrapper {
        position: relative;
        height: 697px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .whatsNewRow {
        position: relative;
        margin-top: 66px;
        width: calc(890 / 1440 * 100vw);
        max-width: 890px;
        height: 555px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: space-between;
    }

    .whatsNewCol {
        position: relative;
        height: 110px;
    }

    .whatsNewElements {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 262px;
    }

    .whatsNewElements button:hover {
        background-color: #7f9be9;
        border: none;
    }

    .whatsNewElements p {
        font-size: 24px;
        line-height: 32px;
    }

    img.whatsNewImg {
        position: relative;
        margin: 0;
        height: 427px;
        width: 246px;
        align-self: flex-end;
    }

    .hover-shadow {
        border-radius: 18%;
        transition: 0.15s ease-in-out all;
        width: 100%;
        height: auto;
        padding: 10px;
        margin: 0px;
    }

    .hover-shadow:hover {
        -webkit-box-shadow: 0 8px 20px rgba(143, 168, 191, 0.35);
        box-shadow: 0 8px 20px rgba(143, 168, 191, 0.35);
        cursor: pointer;
        color: #1890ff;
    }
    .subtitle {
        font-size: 16px;
    }

    @media screen and (max-width: 834px) {
        .whatsNewWrapper {
            height: 500px;
        }
        .whatsNewRow {
            flex-direction: column;
            justify-content: space-evenly;
            height: 500px;
            margin: 0;
        }
        img.whatsNewImg {
            height: 313px;
            width: 181px;
            order: 1;
            left: -20px;
        }
        .whatsNewCol {
            order: 2;
            text-align: center;
        }
        .whatsNewCol h2 {
            font-size: 24px;
        }
        .whatsNewElements {
            width: 180px;
            left: 0;
        }
        .whatsNewElements p {
            order: 1;
            font-size: 12px;
        }
        .whatsNewElements button {
            order: 2;
        }
    }

    /* custom elements styling */

    .gosha {
        font-family: 'Gosha Sans', sans-serif;
        font-weight: bold !important;
    }

    .yellowText {
        color: #f9bd2b;
    }

    .redText {
        color: #f96132;
    }

    .blueText {
        color: #1d4aff;
    }

    .darkBlueText {
        color: #35416b;
    }

    .redbackground {
        background-color: rgba(249, 97, 50, 0.2);
    }

    .bluebackground {
        background-color: rgba(53, 65, 107, 0.2);
        padding-top: 50px;
        padding-bottom: 477px;
        margin-top: 0px;
    }

    .bluebackground2 {
        background-color: rgba(53, 65, 107, 0.2);
        padding-top: 100px;
    }

    .yellowLine,
    .redLine,
    .blueLine,
    .darkBlueLine {
        width: 118px;
        border-width: 8px;
        border-style: solid;
        border-radius: 0px 10px 0px 0px;
        margin: 25px 0;
    }

    .yellowLine {
        border-color: #f9bd2b;
    }

    .redLine {
        border-color: #f96132;
    }

    .blueLine {
        border-color: #1d4aff;
    }

    .darkBlueLine {
        border-color: #35416b;
    }

    @media screen and (max-width: 834px) {
        .yellowLine,
        .redLine,
        .blueLine,
        .darkBlueLine {
            width: 96px !important;
            border-width: 6px !important;
            margin: 10px 0 !important;
        }
        .autocapture01 h1,
        .traffic02 h1,
        .visualize03 h1,
        .improveConversion04 h1,
        .featureFlags05 h1 {
            font-size: 40px;
            line-height: 40px;
        }
        .col h2 {
            font-size: 24px;
            line-height: 40px;
        }
        .ph-enterprise-subheader {
            font-weight: bold;
            font-size: 20px !important;
        }
        .ph-enterprise-title {
            padding-top: 30px !important;
        }
        #feature-header-01 {
            margin-top: 20px;
        }
    }

    .yellowLine2 {
        height: 0px;
        width: 2rem;
        border: 0.1rem;
        border-style: solid;
        border-color: #f9bd2b;
    }

    .redLine2 {
        height: 0px;
        width: 2rem;
        border: 0.1rem;
        border-style: solid;
        border-color: #f96132;
    }

    .blueLine2 {
        height: 0px;
        width: 2rem;
        border: 0.1rem;
        border-style: solid;
        border-color: #1d4aff;
    }

    @media screen and (min-width: 834px) {
        .hiddenBreak {
            display: none;
        }
        .revHiddenBreak {
            display: none;
        }
        .number h1 {
            font-size: 40px;
            line-height: 40px;
        }
    }

    div.ant-list.ant-list-split h4 > a {
        color: black !important;
    }

    .anticon-close h4 > a {
        color: black !important;
    }

    .burger-menu-spacer {
        height: 6%;
        max-height: 30px;
    }

    @media screen and (min-height: 1849px) {
        .burger-menu-spacer {
            max-height: 15px;
        }
    }
}
