.pluginModalContent {
    position: relative;
    background: #ffffff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 20px;
    z-index: 9001;
    box-shadow: 0px 12px 12px rgba(0, 40, 66, 0.25);
    border-radius: 24px;
    width: 80vw;
    height: 80vh;
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 12px;
    }
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    li {
        margin-left: 20vh;
        margin-right: 20vh;
    }

    img {
        max-width: 100px;
        margin-left: 20vh;
    }
}
