.get-in-touch-wrapper {
    p {
        margin: 0 auto 1em auto;
        font-size: 15px !important;
        max-width: 36rem;
        display: block;
        text-align: center;
    }

    @media screen and (max-width: 767px) {
        p {
            max-width: 90%;
        }
    }
}
