:root {
    --viewport-padding: 25px;
}

[data-radix-toast-viewport] {
    --viewport-padding: 25px;
}

.ToastRoot[data-swipe='move'] {
    transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe='cancel'] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe='end'] {
    animation: slideRight 100ms ease-out;
}

@keyframes slideRight {
    from {
        transform: translateX(var(--radix-toast-swipe-end-x));
    }
    to {
        transform: translateX(100%);
    }
}
