.anchor-link {
    opacity: 0;
    position: absolute;
    transform: translate(-0.5em, 10px);
    width: 1em;
    display: inline-block;
    padding-right: 10px;
}

.mdx-header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: inline-block !important;
        margin-top: 0;
    }
}

.mdx-header:hover {
    .anchor-link {
        opacity: 1;
    }
}
