#docs-search-container {
    display: inline-block;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    height: 60px;
}

.docSearchWrapper {
    height: 32px;
    max-width: 270px;
    min-width: 150px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 10px 10px 30px 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: 0;
}

span.algolia-autocomplete {
    height: 32px;
}

#doc-search {
    height: 32px;
    width: 100%;
    border: none;
    outline: 0;
}

#doc-search:focus {
    outline: none;
}

.docs-search-box {
    margin-top: 15px;
    margin-right: 25px;
}

@media screen and (max-width: 834px) {
    .docs-search-box {
        margin-top: 10px;
        margin-right: 5px;
        padding-right: 0px;
    }
}

/*main dropdown wrapper for small screens
override external docsearch css file*/
@media screen and (max-width: 555px) {
    .algolia-autocomplete .ds-dropdown-menu {
        min-width: 250px !important;
        max-width: 300px !important;
    }
}

/*main dropdown wrapper for medium-large screens
override external docsearch css file*/
@media screen and (min-width: 555px) {
    .algolia-autocomplete .ds-dropdown-menu {
        max-width: 500px !important;
    }
}

/* Main category (eg. Getting Started) */

/* Category (eg. Downloads) */

#docs-search-container {
    .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
        color: gray;
    }

    /* Title (eg. Bootstrap CDN) */
    .algolia-autocomplete .algolia-docsearch-suggestion--title {
        font-variation-settings: 'wght' 800;
        color: black;
    }

    /* Description description (eg. Bootstrap currently works...) */
    .algolia-autocomplete .algolia-docsearch-suggestion--text {
        font-size: 0.8rem;
        color: gray;
    }

    /* Highlighted text */
    .algolia-autocomplete .algolia-docsearch-suggestion--highlight {
        color: blue;
    }

    #doc-search {
        background-color: #f0f0f0;
        color: gray;
    }

    .docSearchWrapper {
        background-color: #f0f0f0;
    }
}

#docs-search-container.dark {
    .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
        color: gray;
    }

    /* Title (eg. Bootstrap CDN) */
    .algolia-autocomplete .algolia-docsearch-suggestion--title {
        font-variation-settings: 'wght' 800;
        color: black;
    }

    /* Description description (eg. Bootstrap currently works...) */
    .algolia-autocomplete .algolia-docsearch-suggestion--text {
        font-size: 0.8rem;
        color: gray;
    }

    /* Highlighted text */
    .algolia-autocomplete .algolia-docsearch-suggestion--highlight {
        color: blue;
    }

    #doc-search {
        background-color: #3d3f41;
        color: gray;
    }

    .docSearchWrapper {
        background-color: #3d3f41;
    }

    svg,
    input {
        color: rgb(221, 221, 221) !important;
    }
}
