.contributor-search {
    max-width: 300px;
    margin-bottom: 20px;

    input {
        background-color: rgb(45, 21, 80);
        border: 1px solid #683f9e;
        color: #dfdfdf;
    }

    input:hover,
    input:focus {
        border-color: #9769d3 !important;
    }

    i {
        color: #cd8ff2;
    }
}
