.contributors-page-wrapper {
    .ant-card-bordered {
        border: 1px solid #653c9a !important;
        border-radius: 20px;
    }

    .tooltip-content:hover,
    .tooltip-content:hover span {
        background-color: #271046 !important;
        cursor: pointer;
    }
    .ant-col {
        width: 100%;
    }
}
