.docs-endpoint-wrapper {
    .endpoint-text {
        font-family: monospace !important;
        margin-top: 10px;
        background-color: rgb(1, 22, 39);
        color: #fff;
        padding: 20px;
        border-radius: 10px;
    }
}
