@import '../../vars';

.feature-availability {
    border-radius: 4px;
    padding: 8px 16px;
    border: 1px solid $border;
    margin-bottom: 16px;

    h4 {
        margin-top: 0;
        font-size: 1em;
    }

    h5 {
        margin: 0;
        font-size: 0.9em;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        a {
            margin-left: 0.5rem;
            color: $primary !important;
            padding: 0px !important;
        }
    }

    .feature-availability-inner {
        display: flex;
        div {
            flex-grow: 1;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            font-size: 0.95em;
            line-height: 1.3em;
            display: flex;
            align-items: center;
            span {
                margin-right: 0.5rem;
            }
        }
    }
}
