.custom-icon {
    display: inline-block;
}

.icon-badge-wrapper {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc; //Override via props
}
