name: Automerge

on:
    pull_request:
        types:
            - labeled
            - unlabeled
            - synchronize
            - opened
            - edited
            - ready_for_review
            - reopened
            - unlocked
    check_suite:
        types:
            - completed
    status:

jobs:
    automerge:
        name: Automerge if requested
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
        steps:
            - name: Automerge
              shell: bash
              env:
                  GH_TOKEN: ${{ github.token }}
                  PR_NUMBER: ${{ github.event.pull_request.number }}
              run: |
                  gh pr merge "$PR_NUMBER" --auto --squash
