name: Standard Checks

on:
    - pull_request

jobs:
    spell-check:
        name: Standard Checks
        runs-on: ubuntu-latest
        if: github.event.pull_request.head.repo.full_name == github.repository

        steps:
            - uses: actions/checkout@v2
              with:
                  ref: ${{ github.head_ref }}

            - name: Set up Python 3.8
              uses: actions/setup-python@v2
              with:
                  python-version: 3.8

            - name: Install codespell with pip
              run: |
                  python -m pip install -U pip
                  python -m pip install git+https://github.com/yakkomajuri/codespell.git

            - name: Configure Git
              run: |
                  git fetch origin master:master
                  git config user.name PostHog Bot
                  git config user.email hey@posthog.com

            - name: Fix typos and add redirects
              run: |
                  PR_DIFF=$(git diff ${{ github.head_ref }} ${{ github.base_ref }}) python3 ./scripts/safe_rename.py
                  codespell ./contents -w -S "./contents/images/*,./contents/docs/_media/*" -q 8 -I ./.codespellignore
                  git add .
                  [ "$(git status -s)" = "" ] && exit 0 || git commit -m "Add fixes" && git push
