name: HogFM
permissions:
    contents: read
on:
    push:
        branches:
            - master
        paths:
            - 'contents/handbook/**'
    workflow_dispatch:
jobs:
    run-script:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Install uv
              uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d # v7.1.0
            - name: Set up Python
              run: uv python install
              working-directory: scripts/hogfm
            - name: Sync deps
              run: uv sync --locked --all-extras --dev
              working-directory: scripts/hogfm
            - name: Run python script
              run: yes # TODO uv run <filename>
              working-directory: scripts/hogfm
              env:
                  SAMPLE: sample
