name: Inkeep Agent

on:
    issue_comment:
        types: [created]

permissions:
    contents: read
    pull-requests: read
    id-token: write

jobs:
    trigger-agent:
        # Agent will trigger if a PR comment is created including `@inkeep`
        if: github.event.issue.pull_request && contains(github.event.comment.body, '@inkeep')
        runs-on: ubuntu-latest
        steps:
            - name: Trigger Inkeep Agent
              uses: inkeep/inkeep-agents-action@6f2df44ed970ce5a587e2fcd8ed46f9c5894780c # v0
              with:
                  trigger-url: ${{ secrets.INKEEP_TRIGGER_URL }}

                  # Filters out PRs that dont match the given regex. Update regex as desired or remove entirely
                  pr-title-regex: '^(feat|fix|docs|chore)(\(.+\))?:'
