name: Inkeep Agent

on:
    issue_comment:
        types: [created]
    pull_request_review_comment:
        types: [created]

permissions:
    contents: read
    pull-requests: read
    id-token: write

jobs:
    trigger-agent:
        # Agent will trigger if a PR comment or review comment is created including `@inkeep`
        if: >
            contains(github.event.comment.body, '@inkeep') &&
            (github.event_name == 'pull_request_review_comment' ||
             (github.event_name == 'issue_comment' && github.event.issue.pull_request))
        runs-on: ubuntu-latest
        steps:
            - name: Trigger Inkeep Agent
              uses: inkeep/inkeep-agents-action@v0
              with:
                  trigger-url: ${{ secrets.INKEEP_TRIGGER_URL }}

                  # Filters out PRs that dont match the given regex. Update regex as desired or remove entirely
                  pr-title-regex: '^(feat|fix|docs|chore)(\(.+\))?:'
